

.w100  .container .notif-wrapper  .news-bar {
      overflow: hidden;
      height: 35px;
      width: 100%;
      margin: 0 auto; }
      /* line 255, ../../../resources/assets/sass/main/_public-layout.scss */
      .w100 .container .notif-wrapper .news-bar .first {
        padding: 8px 40px;
        width: inherit;
        margin: 0;
        position: absolute;
        left: 0;
        top: 0; 
		z-index: 500;
    }

        .w100 .container .notif-wrapper .news-bar .first dt {
          background-color: #f66;
          color: #fff; }
        /* line 266, ../../../resources/assets/sass/main/_public-layout.scss */
        .w100 .container .notif-wrapper .news-bar .first dd {
          color: #000000;
          margin-right: 50px; }
        /* line 270, ../../../resources/assets/sass/main/_public-layout.scss */
        .w100 .container .notif-wrapper .news-bar .first dl {
          display: block;
          margin: 0; }
        /* line 274, ../../../resources/assets/sass/main/_public-layout.scss */
        .w100 .container .notif-wrapper .news-bar .first dt, .w100 .container .notif-wrapper .news-bar .first dd {
          display: block;
          float: left;
          margin: 0 10px;
          padding: 0px 10px; }
      /* line 281, ../../../resources/assets/sass/main/_public-layout.scss */
      .w100 .container .notif-wrapper .news-bar .first > div {
        width: 100%;
        height: 28px;
        padding: 5px 0;
        overflow: hidden; }