/*
 * Variables
 */
$container-width: 100%;
$total-columns: 16;
$column-width: 4em;
$gutter-width: 0em;
$grid-padding: 0em;
$global-box-sizing: border-box;
$container-style: fluid; // default to magic. Switch to fluid or fixed if desired



$yellow       : #f5c131;

$black         : #0f1629;
$blue          : #1C89E4;
$white         : #FFFFFF;
$white-dim     : #FBFBFB;
$white-dimmer  : #E9E9E9;
$gray          : #EBECEE;
$gray-light    : darken($gray, 10%);
$gray-dark     : darken($gray, 20%);
$gray-darker   : #6a7385;
$blue-gray     : #4D5E70;
$blue-gray-dark: darken($blue-gray, 30%);
$blue-dark     : #0F1629;
$green         : #28c77a;
$green-dark    : darken($green, 20%);
$green-light   : lighten($green, 25%);
$red           : #fa465e;
$red-light     : lighten($red, 25%);
$red-dark      : #d43b50;

$body-background       : $gray;
$region-background     : $black;
$block-background      : $white;
$block-title-background: $blue-dark;
$borderline-color      : darken($white-dimmer, 10%);
$base-color            : $blue-gray;
$focus-color           : $blue-dark;
$label-color           : $blue;

$form-border-color : $blue-gray;

$link-color : $blue;
$link-hover-color : $blue-dark;
$link-active-color : $blue;
$link-visited-color : purple;
$zebra-color : darken($white-dim, 2%);


$error: $red;
$success: $green;


$OpenSans: OpenSans, sans-serif;
$OpenSansLight: OpenSansLight, sans-serif;
$OpenSansBold: OpenSansBold, sans-serif;
$base-font-size: 16px;
$base-font-weight: normal;

$fixed-font-family: 'Open Sans', sans-serif;
$fixed-font-size: 15px;
$fixed-line-height: 1.2;

$heading-font-family: 'Open Sans', sans-serif;
$heading-font-weight: 700;
