.flash-region {
  margin-bottom: 30px;
  padding: 5px 20px;
  color: #6f717a;
  min-height: 50px;
  height: auto;
}

.flash-region ul {
  margin: 24px 0;
  padding: 0 25px;
}

.flash-region ul li {
  padding: 4px 0;
}

.flash-region p {
  padding-left: 25px;
}

.flash-region.error {
  color: #f23846;
  border: 2px solid #f23846;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.flash-region.success {
  color: #38f264;
  border: 2px solid #38f264;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.flash-region.warning {
  color: yellow;
  border: 2px solid yellow;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}