/* Makes border-box properties */
@include border-box-sizing;

@include font-face('Lato', 'Lato-Regular', 'Lato', 'sans-serif');
@include font-face('Latolight', 'Lato-Light', 'Lato', 'sans-serif');
@include font-face('Latoitalic', 'Lato-Italic', 'Lato', 'sans-serif');
@include font-face('Latobold', 'Lato-Bold', 'Lato', 'sans-serif');
@include font-face('Latothin', 'Lato-Thin', 'Lato', 'sans-serif');
@include font-face('flexslider-icon', 'flexslider-icon', 'flexslider', 'sans-serif');

body {
  font: 100% $lato;
  width: 100%;
  background: $black-lightest;
  letter-spacing: auto;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

h1, h2, h3, h4, h5, h6, ul, figure, img, label {
	margin: 0;
	padding: 0;
}

#page, span, a {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

a {
	text-decoration: none;
	color: $white;
  &.active {
    color: $blue;
  }
  &:hover {
    color: $blue-darker;
  }
}

p {
  font-size: 1em;
}

label {
  color: $white;
}


table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: $white;
  @include border-radius(3px);
  thead {
    background: $black;
  }
  tr {
    border-bottom: 1px solid $gray-dark;
    th {
      padding: 15px 3px;
    }
    td {
      padding: 12px 3px;
    }
    td, th {
      text-align: left;
      vertical-align: center;
    }
  }
  tr:last-child{
    border-bottom: none;
  }
}

.field-wrapper-inline {
  margin: 5px 10px 5px 0;
  .remember-me, .forgot-pass {
    float: left;
    margin-top: 5px;
  }
  &.lg {
    .form-input, .form-select, .form-button {
      height: 40px;
    }
  }
  &.sm {
    .form-input, .form-button, .form-select {
      height: 30px;
      margin-right: 5px;
      float: left;
      display: block;
    }
    label {
      padding-top: 5px;
      float: left;
      margin-right: 5px;
    }
    .form-select {
      height: 30px;
      padding: 2px 10px;
      margin-top: 0;
      margin-right: 10px;
    }
    .form-button {
      margin-top: 0;
      height: 30px;
    }
  }
}


.field-wrapper-block {
  display: table;
  width: 100%;
  margin: 10px 0;
  &.lg {
    .form-input, .form-select, .form-textarea {
      width: 100%;
    }
    .form-input, .form-button {
      height: 40px;
    }
  }
  &.sm {
    .form-input, .form-button {
      height: 30px;
    }
  }
}

.form-input, .form-textarea, .form-select {
  color: $gray-light;
  background: transparent;
  @include border-radius(3px);
  border: 2px solid $gray-dark;
  padding: 6px 12px;
  margin-top: 10px;
  @include transition(all, .4s, ease-out);
  &:focus, &:hover {
    color: $white;
    border: 2px solid $blue;
    outline: none;
    box-shadow: 0 0 3px $blue;
    @include transition(all, .3s, ease-in);
  }
  &.error {
    border-color: $red;
  }
}

.form-input {
  height: 34px;
}

.form-checkbox {
  float: left;
  margin-right: 5px;
}

.form-textarea {
  height: 200px;
}

.form-select {
  option {
    color: $black;
  }
}

.radio {
  margin-top: 15px;
  padding-bottom: 10px;
  height: 34px;
  label {
    float: left;
    margin-right: 15px;
  }
  .form-radio {
    float: left;
    margin-right: 5px;
    margin-bottom: 20px;
  }
}

.form-button {
  border: 0 none;
  @include border-radius(2px);
  color: $black-lighter;
  cursor: pointer;
  float: left;
  font: 14px $lato;
  padding: 7px 10px;
  text-transform: none;
  height: 34px;
  margin-top: 10px;
  margin-right: 5px;
  @include transition(all, 0.3s, ease);
  width: auto; /* auto */
  min-width: 120px;
  text-align: center; /* DELETE WHEN WIDTH AUTO */
  line-height: 19px;
  &.active {
    background: $blue;
    color: $white;
    &:hover {
      background: $gray;
      color: $white;
    }
  }
  &.default {
    background: $white;
    color: $black;
    &:hover {
      background: $gray;
      color: $white;
    }
  }
}

.subpage-titles {
  background: url("../images/subpagetitlebg.jpg")no-repeat;
  height: 120px;
  padding: 40px 0;
  background-size: cover;
  margin-bottom: 50px;
  .subpage-title {
    color: $white;
    text-transform: capitalize;
  }
}

.block-title {
  margin-bottom: 40px;
  color: $blue;
  .light-fnt { 
    font-family: $latothin;
    color: $black;
  }
  .wht {
    color: $white;
  }
}

.footer-title {
  margin-bottom: 20px;
  color: $blue;
  .light-fnt { 
    font-family: $latothin;
    color: $black;
  }
}

.reminder, .reminder-list {
  color: $gray;
}

.section-header {
  font-family: $latolight;
  margin: 0 auto 20px auto;
  color: $green;
  &::after {
    height: 5px;
    margin-top: 5px;
    display: block;
    width: 100%;
    background: $gray;
    border-right: 1px $white;
    content: '';
  }
}

.flash-region {
  margin-bottom: 40px;
  padding: 5px 55px;
  color: $gray;
  min-height: 50px;
  height: auto;
  ul {
    margin:24px 0;
    padding: 0 25px;
    li {
      padding: 4px 0;
    }
  }
  p {
    padding-left: 25px;
  }
  &.error {
    background: $black-lighter;
    color: $red;
    border: 2px solid $red;
    @include border-radius(3px);
  }
  &.success {
    background: $black-lighter;
    color: $green;
    border: 2px solid $green;
    @include border-radius(3px);
  }
  &.warning {
    background: $black-lighter;
    color: yellow;
    border: 2px solid yellow;
    @include border-radius(3px);
  }
}


.tooltip {
  color: $red;
}


.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url("../images/cd-top-arrow.svg") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  &.cd-is-visible, &.cd-fade-out, .no-touch &:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  &.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
  }
  &.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
  }
  .no-touch &:hover {
    background-color: #e86256;
    opacity: 1;
  }
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

/* Future Enhancement
.online-stat, .offline-stat, .idle-stat {
  text-transform: uppercase;
  height: 40px;
  width: 150px;
  text-align: center;
  padding: 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 1.25em;
  letter-spacing: 1px;
}

.online-stat {
  color: $white;
  background: $green;
}

.offline-stat {
  color: $white;
  background: $red;
}

.idle-stat {
  color: #b6b2b2;
  background: #d2d2d2;
}
*/