.container {
	.inner-content,
	.content-region,
	.inner-main-nav,
	.inner-sub-nav,
	.flash-region {
		@include container();
	}
	.sidebar {
		position: fixed;
		top: 320px;
		left: 40px;
		height: 240px;
		width: 200px;
		background: rgba(36,37,41,0.9);
		/*background: rgb(36,37,40);*/
		z-index: 10;
		padding: 20px 5px;
		text-align: center;
		@include border-radius(3px);
		h4 {
			color: $white;
			margin-bottom: 10px;
		}
		.sidebar-content {
			border: 1px solid $gray-dark;
			tr {
				td:first-child {
					width: 50px;
					padding: 10px 15px;
				}
				td:last-child {
					color: $blue;
					font-weight: bold;
				}
			}
		}
	}
	header {
		background: $black;
		height: auto;
		display: block;
		.inner-content {
			height: 95px;
			.logo-block {
				@include span-columns(4);
				height: 95px;
				padding: 25px 0;
				.show-image {
					width: 116px;
					height: 45px;
					background: url("../images/logo.png");
					&.hide-text {
						text-indent: 100%;
						white-space: nowrap;
						overflow: hidden;
					}
				}
			}
			.login-block {
				@include span-columns(8 omega);
				height: 85px;
				.login {
					color: $red;
					margin-top: 0;
				}
				.inner-login-block {
					float: right;
					padding: 20px 0;
					.field-wrapper-inline {
						.form-input {
							width: 170px;
							margin-top: 0;
						}
						label {
							margin-right: 55px;
						}
						a {
							text-decoration: underline;
						}
					}
				}
				.wrapper-dropdown-5 {
			  /* Size & position */
			  position: relative;
			  width: 200px;
			  margin: 5px auto 0 auto;
			  padding: 12px 15px;

			  /* Styles */
			  background: $white;
			  border-radius: 5px;
			  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
			  cursor: pointer;
			  outline: none;
			  -webkit-transition: all 0.3s ease-out;
			  -moz-transition: all 0.3s ease-out;
			  -ms-transition: all 0.3s ease-out;
			  -o-transition: all 0.3s ease-out;
			  transition: all 0.3s ease-out;
			  .dropdown {
			    /* Size & position */
			    position: absolute;
			    top: 100%;
			    left: 0;
			    right: 0;
			    z-index: 9;

			    /* Styles */
			    background: #fff;
			    border-radius: 0 0 5px 5px;
			    border: 1px solid rgba(0,0,0,0.2);
			    border-top: none;
			    border-bottom: none;
			    list-style: none;
			    -webkit-transition: all 0.3s ease-out;
			    -moz-transition: all 0.3s ease-out;
			    -ms-transition: all 0.3s ease-out;
			    -o-transition: all 0.3s ease-out;
			    transition: all 0.3s ease-out;

			    /* Hiding */
			    max-height: 0;
			    overflow: hidden;
			    li {
			    	padding: 0 10px ;
			    	i {
					    margin-right: 5px;
					    color: inherit;
					    vertical-align: middle;
			    	}
			    	a {
					    display: block;
					    text-decoration: none;
					    color: #333;
					    padding: 10px 0;
					    transition: all 0.3s ease-out;
					    border-bottom: 1px solid #e6e8ea;
			    	}
			    	&:last-of-type {
			    		a {
			    			border: none;
			    		}
			    	}
			    	&:hover {
			    		a {
			    			color: #57a9d9;
			    		}
			    	}
			    }
				}
			  &:after {
			  	content: "";
			    width: 0;
			    height: 0;
			    position: absolute;
			    top: 50%;
			    right: 15px;
			    margin-top: -3px;
			    border-width: 6px 6px 0 6px;
			    border-style: solid;
			    border-color: #4cbeff transparent;
			  }
			  &.active {
			  	border-radius: 5px 5px 0 0;
			    background: #4cbeff;
			    box-shadow: none;
			    border-bottom: none;
			    color: white;
			    .dropdown {
			    	border-bottom: 1px solid rgba(0,0,0,0.2);
			    	max-height: 400px;
			    }
			    &:after {
			    	border-color: #82d1ff transparent;
			    }
			  }
			}
			}
		}
		nav {
			.main-nav {
				background: $blue-darkest;
				border-bottom: solid 5px $blue;
			  a#openup {
				  display: none;
			  }
				.inner-main-nav {
					height: 45px;
					list-style: none;
					li {
						float: left;
						display: block;
						padding: 15px;
						&:hover, &.active {
								background: $blue;
						}
						&:nth-child(n+8) {
							display: none;
						}
					}
				}
			}
			.sub-nav {
				background: $black-lighter;
				.inner-sub-nav {
					height: 40px;
					li {
						float: left;
						display: block;
						padding: 10px;
						ul {
							display: none;
							position: absolute;
							padding-top: 5px;
							z-index: 5;
							li {
								float: none;
								width: auto;
								background: $black-lighter;
								border-bottom: 1px solid $black;
								&:hover {
									color: $white;
									background: $blue;
								}
								a {
									line-height: 30px;
									padding: 10px;
								}
							}
							li:last-child {
								border-bottom: 0;
							}
						}
						&:hover {
							ul {
								display: block;
							}

						}
						&.active {
							color: $white;
							background: $blue;
						}
					}
				}
			}
		}
	  .news-bar {
      overflow: hidden;
      position: relative;
      height: 35px;
      width: 100%;
      margin: 0 auto;
      .first {
      	padding: 8px 40px;
				width: inherit;
				margin: 0;
				position: absolute;
				left: 0;
				top: 0;
        dt {
          background-color: #f66;
          color: #fff;
        }
        dd {
          color: $white;
          margin-right: 50px;
        }
        dl {
  				display: block;
  				margin: 0;
  			}
  			dt, dd {
  				display: block;
  				float: left;
  				margin: 0 10px;
  				padding: 0px 10px;
  			}
			}
			.first > div {
				width: 100%;
				height: 28px;
				padding: 5px 0;
				overflow: hidden;
			}
    }
	} /* ---------------------------------- End of Header */
main {
	.slider {
		height: auto;
		.flexslider {
			background: transparent;
			margin-bottom: 0;
			padding-bottom: 0;
			border: none;
			overflow: hidden;
			.flex-control-nav {
				bottom: 0;
			}
		}
	} /* ---------------------------------- End of Slider */
	.how-to-join {
		height: 190px;
		display: block;
		background: $blue-darkest;
		img {
			display: block;
			margin: 0 auto;
			padding: 40px 0;
			height: auto;
			width: 1143px;
		}
	} /* ---------------------------------- End of How To Join */
	.register-now {
		display: none;
	} /* ---------------------------------- End of Register Now */
	.products-region {
		height: 600px;
		padding: 100px 0px;
		background: $white;
		.inner-content {
			.product-block {
				list-style: none;
				padding: 10px 10px 0 10px;
				.product-lists {
					@include span-columns(3, 12);
					&:nth-child(4n) {
						@include span-columns(3 omega, 12);
					}
					height: 240px;
					-webkit-box-shadow: 0px 7px 20px -2px rgba(179,173,179,1);
					-moz-box-shadow: 0px 7px 20px -2px rgba(179,173,179,1);
					box-shadow: 0px 7px 20px -2px rgba(179,173,179,1);
					a {
							img {
								height: 240px;
								width: 100%;
							}
					}
				}
			}
		}
	} /* ---------------------------------- End of Products */
	.about-region {
		height: 540px;
		padding: 100px 0px;
		background: url("../images/pattern.png");
		.inner-content {
			color: $white;
			.about-block,  {
				@include span-columns(6);
				.green { 
					color: $green;
				}
			}
			.terms-block {
				@include span-columns(6 omega);
				margin-top: 15px;
				ul {
					list-style: square;
					li {
						margin-bottom: 5px;
					}
				}
			}
		}
	} /* ---------------------------------- End of About */
	.bank-schedule {
		height: 640px;
		padding: 100px 0;
		background: $black-lightest;
		.inner-content {
			.mandiri-bank-logo, .bca-bank-logo, .bni-bank-logo, .bri-bank-logo  {
			   	height: 166px;
			   	background: url("../images/banksprite2.png")no-repeat;
		    	position: relative;
		    	margin-bottom: 50px;
		    	.bank-status {
		   			position: absolute;
		   			bottom: -20px;
		   			left: 30px;
		   			div {
		   				float: left;
		   				margin-left: 8px;
		   			}
		   		}
		    }
		   .bank {
		   		@include span-columns(3);
		   		&:last-child {
		   			@include omega;
		   		}
		   }
			.mandiri-bank {
			   display: block;
			   .mandiri-bank-logo {
				   	background-position: 7px 0px;
			   }
			}
			.bca-bank {
			   .bca-bank-logo{
					background-position: -268px 0px;
			   }
			}
			.bni-bank {
			   .bni-bank-logo{
					background-position: -538px 0px;
			   }
			}
			.bri-bank {
			   .bri-bank-logo{
					background-position: -812px 0px;
			   }
			}
			.bank-schedules {
				padding: 0px 10px;
				color: $white;
				font-size: 0.813em;
				table {
					tbody {
						tr {
							td {
								padding: 5px;
							}
						}
					}
				}
			}
		}
	} /* ---------------------------------- End of Bank */
	/* End Landing Page */
	
	.content-region {
		margin-bottom: 100px;
		min-height: 180px;
		.section-header {
			color: $green;
			margin-top: 10px;
		}
		.search-block {
			margin-bottom: 20px;
			height: 25px;
		}
		.inner-left-region {
			@include span-columns(6);
		}
		.inner-right-region {
			@include span-columns(6 omega);
			.form-submit {
				float: right;
			}
		}
		.inner-left-region-sm {
			clear: right;
		}
		.inner-right-region-sm {
			clear: left;
		}
		.inner-left-region-sm, .inner-right-region-sm {
			@include span-columns(3);
		}
		.inner-left-region-lg, .inner-right-region-lg {
			@include span-columns(9 omega);
		}
		.display-table {
			table-layout: fixed;
			border-collapse: collapse;
			text-align: center;
			margin-bottom: 40px;
			tbody {
				tr {
					background: $gray-dark;
					border-bottom: 1px dashed $gray-light;
					td {
						.field-wrapper-block {
							margin: 0 auto;
							width: auto;
							.form-button {
								margin: 0;
								text-align: center;
							}
						}
					}
					&:last-child {
						border-bottom: 0;
					}
				}
			}
			td, th {
				text-align: center;
				border-right: 1px dashed $gray-light;
				&:last-child {
					border-right: 0;
				}
			}
		}
		/* --------------------------------------
			 	Help Page 
				--------------------------------------*/
			h4 {
				color: $white;
			}
			ol {
				color: $white;
				li {
					a {
						color: $blue;
						text-decoration: underline;
					}
				}
			}
			.q-tag {
				h4 {
					background: $blue;
					padding: 15px;
				}
				p, b {
					color: $white;
					padding-left: 20px;
				}
				ol, ul {
					padding-left: 60px;
				}
				ul {
					color: $white;
					margin: 15px 0;
					font-family: $latoitalic;
				}
				table {
					margin: 20px auto;
					text-align: center;
					table-layout: fixed;
					border-collapse: collapse;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					thead {
						td {
							padding: 20px;
							border: 1px solid $gray;
						}
					}
					tbody {
						padding: 10px;
						background: $gray-dark;
						color: $white;
						tr {
							td {
								padding: 15px;
								border: 1px solid $gray;
							}
						}
					}
					td, th {
						text-align: center;
					}
				}
			} /* End Help Page */
			/* --------------------------------------
			 	Contact Page 
				--------------------------------------*/
			.inner-left-region, .inner-left-region-sm { 
				.social-center {
					height: 220px;
					margin: 3.44828% 0;
					text-align: center;
					color: $white;
					width: 100%;
					.social-content {
						height: 75%;	
						background: $black-light;
						border-top-left-radius: 3px;
						border-top-right-radius: 3px; 
						img {
							display: block;
							margin: 0 auto;
							padding: 20px 0 10px 0;
						}
					}
					.social-id {
						height: 25%;
						padding: 18px 0;
						background: $blue;
						border-bottom-left-radius: 3px;
						border-bottom-right-radius: 3px; 
						b {
							font-family: $latobold;
							font-size: 18px;
							text-transform: uppercase;
						}
					}
				}
			} /* End Contact Page */
			/* --------------------------------------
			 	Casino Page 
				--------------------------------------*/
			.casino-block, .casino-block-right {
				@include span-columns(9);
				background: $black-lighter;
				overflow: visible;
				height: auto;
				position: relative;
				figure {
					background: url("../images/casinosprite.png")no-repeat;
					height: 270px;
				}
				.casino-block-desc {
					background: $black-lighter;
					h3 {
						color: $blue;
						margin-bottom: 10px;
					}
					h4 {
						color: $white;
						font-family: $latolight;
						span {
							font-style: italic;
						}
						&::after {
							height: 5px;
							margin-top: 5px;
						    display: block;
						    width: 100px;
						    background: $white;
						    border-right: 1px white;
						    content: '';
						}
					}
					p {
						color: $gray;
					}
					a {
						float: right;
						color: $blue;
						text-decoration: underline;
						margin-bottom: 10px;
					}
				}
			}
			.casino-block, .casino-block-right {
				.ibcbet-block {
					background-position: -1330px 0;
				}
				.asia-block {
					background-position: -1080px 0;
				}
				.sbobet-block {
					background-position: -270px 0;
				}
				.ion-block {
					background-position: -540px 0;
				}
				.ib888-block {
					background-position: -810px 0;
				}
				.klik-block {
					background: url("../images/pokersprite.png")no-repeat;
				}
			}
			.casino-block {
				figure {
					@include span-columns(3, 9);
					margin-right: 0px !important;
				}
				.casino-block-desc {
					padding: 30px 20px 0px 0px;
					@include span-columns(6 omega, 9 );
					right: 0;
					display: block;
					.collapse {
						padding: 0 20px 0 0px;
					}
				}
			}
			.casino-block-right {
				float: right;
				figure {
					@include span-columns(3 omega, 9 );
				}

				.casino-block-desc {
					padding: 30px 0px 0px 20px;
					@include span-columns(6, 9);
					display: block;
					.collapse {
						padding: 0 20px 0 0px;
						background: inherit;
					}
				}
			} /* End Casino Page */
			.transaction-region {
			margin-bottom: 100px;
			color: $white;
			.inner-region {
				width: 700px;
				margin: 0 auto;
				form {
					margin-bottom: 25px;
					.form-input {
						margin: 10px auto;
						label, input {
							display: block;
						}
						label, input {
							margin-bottom: 10px;
						}
						label, .tooltip {
							padding-left: 10px;
						}
						select {
							option {
								color: $black-lighter;
							}
						}
						.bank-bca, .bank-mandiri, .bank-bni, .bank-bri {
							display: inline-block;
							width: 170px;
							height: 50px;
							input[type="radio"], label {
								display: inline-block;
							}
						}
						.bank-withdraw {
							height: 30px;
							display: inline-block;
							width: 170px;
							input[type="radio"], label {
								display: inline-block;
							}
						}
					}
					.form-submit {
						display: table;
						margin: 0 auto;
					}
				}
			}
		} /* Ending of Transaction Pages*/
		.authentication {
			width: 60%;
			margin: 50px auto 0 auto;
			border: 2px solid $gray;
			padding: 50px 30px;
			min-height: 400px;
			height: auto;
		}	
	}
}
	footer {
		background: $white;
		text-align: center;
		.logo-row {
			padding: 50px 0;
			.powered-by {
				margin-bottom: 40px;
				ul {
					list-style: none;
					li {
						display: inline-block;
						margin-right: 15px;
						.mandiri, .bca, .bni, .cimb, .gamecare, .first, .bii, .bri {
							@include hide-text();
							display: block;
							height: 32px;
							background: url("../images/partnersprite.png")no-repeat;
						}
						.mandiri {
							width: 108px;
							background-position: 0px 0px;
						}
						.bca {
							width: 95px;
							background-position: -108px 0px;
						}
						.bni {
							width: 107px;
							background-position: -204px 0px;
						}
						.first {
							width: 90px;
							background-position: -643px 0px;
						}
						.bri {
							width: 129px;
							background: url("../images/bribank.png")no-repeat;
						}
					}
				}
			}
			.social-media {
				ul {
					list-style: none;
					li {
						display: inline-block;
						.facebook, .twitter {
							@include hide-text();
							display: block;
							height: 32px;
							width: 32px;
							background: url("../images/socialsprite.png")no-repeat;
						}
						.facebook {
							background-position: 0px 0px;
						}
						.twitter {
							background-position: -32px 0px;
						}
					}
				}
			}
		}
		.copyright {
			height: 45px;
			padding: 15px 0;
			background: $black;
			text-align: center;
			font-size: 0.875em;
			color: $white;
		}
	}
}


