/* Import Files */
/* normalize-scss 3.0.3+normalize.3.0.3 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
/* line 106, ../../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* line 67, ../../../resources/assets/components/normalize-scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 79, ../../../resources/assets/components/normalize-scss/_normalize.scss */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 93, ../../../resources/assets/components/normalize-scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 114, ../../../resources/assets/components/normalize-scss/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 133, ../../../resources/assets/components/normalize-scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 143, ../../../resources/assets/components/normalize-scss/_normalize.scss */
[hidden] {
  display: none; }

/**
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 152, ../../../resources/assets/components/normalize-scss/_normalize.scss */
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 164, ../../../resources/assets/components/normalize-scss/_normalize.scss */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 174, ../../../resources/assets/components/normalize-scss/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 186, ../../../resources/assets/components/normalize-scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 194, ../../../resources/assets/components/normalize-scss/_normalize.scss */
b,
strong {
  font-weight: bold; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 204, ../../../resources/assets/components/normalize-scss/_normalize.scss */
blockquote {
  margin: 1.5em 40px; }

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 213, ../../../resources/assets/components/normalize-scss/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 222, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

/* line 237, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em; }

/* line 243, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em; }

/* line 249, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

/* line 255, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em; }

/* line 261, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 273, ../../../resources/assets/components/normalize-scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 284, ../../../resources/assets/components/normalize-scss/_normalize.scss */
p,
pre {
  margin: 1.5em 0; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 294, ../../../resources/assets/components/normalize-scss/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 302, ../../../resources/assets/components/normalize-scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 310, ../../../resources/assets/components/normalize-scss/_normalize.scss */
sup {
  top: -0.5em; }

/* line 314, ../../../resources/assets/components/normalize-scss/_normalize.scss */
sub {
  bottom: -0.25em; }

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 326, ../../../resources/assets/components/normalize-scss/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5em 0; }

/* line 347, ../../../resources/assets/components/normalize-scss/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 355, ../../../resources/assets/components/normalize-scss/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 367, ../../../resources/assets/components/normalize-scss/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 382, ../../../resources/assets/components/normalize-scss/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 395, ../../../resources/assets/components/normalize-scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 407, ../../../resources/assets/components/normalize-scss/_normalize.scss */
figure {
  margin: 1.5em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 416, ../../../resources/assets/components/normalize-scss/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
/* line 425, ../../../resources/assets/components/normalize-scss/_normalize.scss */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 433, ../../../resources/assets/components/normalize-scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 457, ../../../resources/assets/components/normalize-scss/_normalize.scss */
form {
  margin: 0; }

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 471, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 489, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 500, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 515, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 530, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 539, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 550, ../../../resources/assets/components/normalize-scss/_normalize.scss */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 565, ../../../resources/assets/components/normalize-scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 582, ../../../resources/assets/components/normalize-scss/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 592, ../../../resources/assets/components/normalize-scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */ }
  /* line 602, ../../../resources/assets/components/normalize-scss/_normalize.scss */
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 612, ../../../resources/assets/components/normalize-scss/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 628, ../../../resources/assets/components/normalize-scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 642, ../../../resources/assets/components/normalize-scss/_normalize.scss */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 651, ../../../resources/assets/components/normalize-scss/_normalize.scss */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 662, ../../../resources/assets/components/normalize-scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 667, ../../../resources/assets/components/normalize-scss/_normalize.scss */
td,
th {
  padding: 0; }

/*
 * Variables
 */
/* Config and Sass Variables */
/* Sass Mixins */
/* line 14, ../../../resources/assets/components/susy/sass/susy/language/susyone/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/Open Sans/opensans-regular-webfont.eot");
  src: url("../fonts/Open Sans/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/opensans-regular-webfont.woff") format("woff"), url("../fonts/Open Sans/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/Open Sans/opensans-regular-webfont.svg#OpenSans") format("svg"); }
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/Open Sans/opensans-light-webfont.eot");
  src: url("../fonts/Open Sans/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/opensans-light-webfont.woff") format("woff"), url("../fonts/Open Sans/opensans-light-webfont.ttf") format("truetype"), url("../fonts/Open Sans/opensans-light-webfont.svg#OpenSansLight") format("svg"); }
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/Open Sans/opensans-bold-webfont.eot");
  src: url("../fonts/Open Sans/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/opensans-bold-webfont.woff") format("woff"), url("../fonts/Open Sans/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/Open Sans/opensans-bold-webfont.svg#OpenSansBold") format("svg"); }
/*
 * Base styles
 */
/* line 10, ../../../resources/assets/sass/admin/_base.scss */
html, body {
  height: 100%;
  width: 100%; }

/* line 15, ../../../resources/assets/sass/admin/_base.scss */
body {
  background: #EBECEE;
  color: #4D5E70;
  font-size: 16px;
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  padding: 0px;
  line-height: 1.45;
  overflow: hidden; }

/*
 * Typography
 */
/* line 29, ../../../resources/assets/sass/admin/_base.scss */
html {
  font-size: 1em; }

/* line 31, ../../../resources/assets/sass/admin/_base.scss */
h1, h2, h3, h4, h5, h6, ul, p, figure, img, label {
  margin: 0;
  padding: 0; }

/* line 36, ../../../resources/assets/sass/admin/_base.scss */
ul {
  list-style: none; }

/* line 40, ../../../resources/assets/sass/admin/_base.scss */
p {
  margin-bottom: 1.3em; }

/* line 42, ../../../resources/assets/sass/admin/_base.scss */
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

/* line 48, ../../../resources/assets/sass/admin/_base.scss */
h1 {
  margin-top: 0;
  font-size: 3.998em; }

/* line 53, ../../../resources/assets/sass/admin/_base.scss */
h2 {
  font-size: 2.827em; }

/* line 55, ../../../resources/assets/sass/admin/_base.scss */
h3 {
  font-size: 1.999em; }

/* line 57, ../../../resources/assets/sass/admin/_base.scss */
h4 {
  font-size: 1.414em; }

/* line 59, ../../../resources/assets/sass/admin/_base.scss */
small, .font_small {
  font-size: 0.707em; }

/* line 61, ../../../resources/assets/sass/admin/_base.scss */
a {
  color: #b4b8bf;
  text-decoration: none;
  padding-bottom: 5px; }

/* line 67, ../../../resources/assets/sass/admin/_base.scss */
.field-wrapper-inline {
  float: left;
  margin: 10px 10px 20px 0; }
  /* line 70, ../../../resources/assets/sass/admin/_base.scss */
  .field-wrapper-inline h4 {
    margin: 0;
    font-size: 1em; }
  /* line 74, ../../../resources/assets/sass/admin/_base.scss */
  .field-wrapper-inline .label {
    float: left;
    color: #1C89E4; }
  /* line 78, ../../../resources/assets/sass/admin/_base.scss */
  .field-wrapper-inline .detail {
    float: right; }
  /* line 81, ../../../resources/assets/sass/admin/_base.scss */
  .field-wrapper-inline label {
    display: block;
    float: left;
    margin-right: 10px;
    padding-top: 4px; }
  /* line 87, ../../../resources/assets/sass/admin/_base.scss */
  .field-wrapper-inline .form-input, .field-wrapper-inline .form-textarea, .field-wrapper-inline .form-select, .field-wrapper-inline .form-file {
    float: left;
    width: auto; }
  /* line 91, ../../../resources/assets/sass/admin/_base.scss */
  .field-wrapper-inline.display {
    width: 100%;
    border-bottom: 1px dashed #d0d0d0; }
  /* line 95, ../../../resources/assets/sass/admin/_base.scss */
  .field-wrapper-inline.action {
    margin: 5px 5px 5px 0; }
  /* line 99, ../../../resources/assets/sass/admin/_base.scss */
  .field-wrapper-inline.lg .form-input, .field-wrapper-inline.lg .form-select, .field-wrapper-inline.lg .form-button {
    height: 40px; }
  /* line 104, ../../../resources/assets/sass/admin/_base.scss */
  .field-wrapper-inline.sm .form-input, .field-wrapper-inline.sm .form-button {
    height: 30px;
    margin-right: 5px; }
  /* line 108, ../../../resources/assets/sass/admin/_base.scss */
  .field-wrapper-inline.sm .form-select {
    height: 30px;
    padding: 2px 10px; }
  /* line 112, ../../../resources/assets/sass/admin/_base.scss */
  .field-wrapper-inline.sm .form-button {
    margin-top: 0;
    height: 30px;
    padding: 2px 0; }
  /* line 117, ../../../resources/assets/sass/admin/_base.scss */
  .field-wrapper-inline.sm .form-file {
    margin-top: 0;
    height: 30px;
    padding: 2px 3px; }

/* line 125, ../../../resources/assets/sass/admin/_base.scss */
.field-wrapper-block {
  display: table;
  width: 100%;
  margin: 10px 0; }
  /* line 130, ../../../resources/assets/sass/admin/_base.scss */
  .field-wrapper-block.lg .form-input, .field-wrapper-block.lg .form-button {
    height: 40px; }
  /* line 135, ../../../resources/assets/sass/admin/_base.scss */
  .field-wrapper-block.sm .form-input, .field-wrapper-block.sm .form-button {
    height: 30px; }

/* line 141, ../../../resources/assets/sass/admin/_base.scss */
.form-input, .form-textarea, .form-select {
  color: #4D5E70;
  width: 100%;
  background: transparent;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 2px solid #4D5E70;
  padding: 6px 12px;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
  /* line 149, ../../../resources/assets/sass/admin/_base.scss */
  .form-input:focus, .form-input:hover, .form-textarea:focus, .form-textarea:hover, .form-select:focus, .form-select:hover {
    color: #0F1629;
    border: 2px solid #1C89E4;
    outline: none;
    box-shadow: 0 0 3px #1C89E4;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  /* line 156, ../../../resources/assets/sass/admin/_base.scss */
  .form-input.error, .form-textarea.error, .form-select.error {
    border-color: #fa465e; }

/* line 161, ../../../resources/assets/sass/admin/_base.scss */
.form-file {
  color: #4D5E70;
  width: 100%;
  background: transparent;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 2px solid #4D5E70;
  padding: 6px 12px; }

/* line 171, ../../../resources/assets/sass/admin/_base.scss */
.form-input {
  height: 34px; }

/* line 175, ../../../resources/assets/sass/admin/_base.scss */
.form-checkbox {
  float: left;
  margin-right: 5px; }

/* line 180, ../../../resources/assets/sass/admin/_base.scss */
.form-textarea {
  height: 200px; }

/* line 185, ../../../resources/assets/sass/admin/_base.scss */
.form-select option {
  background-color: #FFFFFF;
  color: #4D5E70; }

/* line 191, ../../../resources/assets/sass/admin/_base.scss */
.radio {
  margin-top: 15px;
  padding-bottom: 10px;
  height: 34px; }
  /* line 195, ../../../resources/assets/sass/admin/_base.scss */
  .radio label {
    float: left;
    margin-right: 15px; }
  /* line 199, ../../../resources/assets/sass/admin/_base.scss */
  .radio .form-radio {
    float: left;
    margin-right: 5px;
    margin-bottom: 20px; }

/* line 206, ../../../resources/assets/sass/admin/_base.scss */
.form-button {
  border: 0 none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  cursor: pointer;
  float: left;
  font: 14px OpenSans, sans-serif;
  padding: 7px 10px;
  text-transform: none;
  height: 34px;
  margin-top: 10px;
  margin-right: 5px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 170px;
  /* auto */
  text-align: center;
  /* DELETE WHEN WIDTH AUTO */
  line-height: 19px; }
  /* line 221, ../../../resources/assets/sass/admin/_base.scss */
  .form-button.active {
    background: #1C89E4;
    color: #FFFFFF !important; }
    /* line 224, ../../../resources/assets/sass/admin/_base.scss */
    .form-button.active:hover {
      background: #4D5E70;
      color: #FFFFFF; }
  /* line 229, ../../../resources/assets/sass/admin/_base.scss */
  .form-button.default {
    background: #cfd2d7;
    color: #0f1629; }
    /* line 232, ../../../resources/assets/sass/admin/_base.scss */
    .form-button.default:hover {
      background: #b4b8bf;
      color: #FFFFFF; }
  /* line 237, ../../../resources/assets/sass/admin/_base.scss */
  .form-button.danger {
    background: #fa465e;
    color: #FFFFFF; }
    /* line 240, ../../../resources/assets/sass/admin/_base.scss */
    .form-button.danger:hover {
      background: #d43b50;
      color: #FFFFFF; }

/* line 247, ../../../resources/assets/sass/admin/_base.scss */
.information-table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: #4D5E70;
  table-layout: fixed; }
  /* line 254, ../../../resources/assets/sass/admin/_base.scss */
  .information-table thead {
    color: #0F1629;
    font-size: 14px;
    border-bottom: 1px solid #d0d0d0; }
  /* line 260, ../../../resources/assets/sass/admin/_base.scss */
  .information-table tbody tr:nth-child(even) {
    background: #f6f6f6; }
  /* line 263, ../../../resources/assets/sass/admin/_base.scss */
  .information-table tbody tr:hover {
    background: #E9E9E9;
    color: #0F1629;
    font: 12px OpenSansBold, sans-serif; }
    /* line 267, ../../../resources/assets/sass/admin/_base.scss */
    .information-table tbody tr:hover a {
      color: #1C89E4;
      text-decoration: underline; }
      /* line 270, ../../../resources/assets/sass/admin/_base.scss */
      .information-table tbody tr:hover a:hover {
        color: #0F1629; }
  /* line 277, ../../../resources/assets/sass/admin/_base.scss */
  .information-table tr {
    border-bottom: 1px dashed #d0d0d0; }
    /* line 279, ../../../resources/assets/sass/admin/_base.scss */
    .information-table tr a {
      color: #1C89E4; }
    /* line 282, ../../../resources/assets/sass/admin/_base.scss */
    .information-table tr th {
      padding: 15px 3px; }
    /* line 285, ../../../resources/assets/sass/admin/_base.scss */
    .information-table tr td {
      padding: 12px 3px; }
      /* line 287, ../../../resources/assets/sass/admin/_base.scss */
      .information-table tr td .form-button {
        margin: 0 5px 0 0;
        display: inline-block;
        width: 100px;
        float: none; }
    /* line 294, ../../../resources/assets/sass/admin/_base.scss */
    .information-table tr td, .information-table tr th {
      text-align: center;
      vertical-align: center;
      border-right: 1px dashed #d0d0d0; }
    /* line 299, ../../../resources/assets/sass/admin/_base.scss */
    .information-table tr th:first-child, .information-table tr td:first-child {
      padding-left: 15px;
      width: 7%; }
    /* line 303, ../../../resources/assets/sass/admin/_base.scss */
    .information-table tr th:last-child, .information-table tr td:last-child {
      border-right: none; }
  /* line 307, ../../../resources/assets/sass/admin/_base.scss */
  .information-table tr:last-child {
    border-bottom: none; }

/* line 312, ../../../resources/assets/sass/admin/_base.scss */
.display-table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: #4D5E70;
  font-family: OpenSansBold, sans-serif; }
  /* line 319, ../../../resources/assets/sass/admin/_base.scss */
  .display-table tr {
    border-bottom: 1px dashed #d0d0d0; }
    /* line 321, ../../../resources/assets/sass/admin/_base.scss */
    .display-table tr td:first-child {
      color: #1C89E4;
      width: 20%;
      border-right: 1px dashed #d0d0d0; }
    /* line 326, ../../../resources/assets/sass/admin/_base.scss */
    .display-table tr td {
      padding: 10px;
      width: 50%; }
  /* line 331, ../../../resources/assets/sass/admin/_base.scss */
  .display-table tr:last-child {
    border-bottom: none; }

/* line 337, ../../../resources/assets/sass/admin/_base.scss */
.flash-region {
  margin-bottom: 40px;
  padding: 5px 25px;
  min-height: 50px;
  height: auto; }
  /* line 342, ../../../resources/assets/sass/admin/_base.scss */
  .flash-region ul {
    margin: 24px 0; }
    /* line 344, ../../../resources/assets/sass/admin/_base.scss */
    .flash-region ul li {
      padding: 4px 0; }
  /* line 348, ../../../resources/assets/sass/admin/_base.scss */
  .flash-region p {
    margin: 24px 0;
    padding: 4px 0; }
  /* line 352, ../../../resources/assets/sass/admin/_base.scss */
  .flash-region.error {
    background: #fdc2ca;
    color: #d43b50;
    border: 2px solid #d43b50;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
  /* line 358, ../../../resources/assets/sass/admin/_base.scss */
  .flash-region.success {
    background: #88e7b9;
    color: #177246;
    border: 2px solid #177246;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }

/* line 366, ../../../resources/assets/sass/admin/_base.scss */
.message-list {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 1px solid #ddd; }
  /* line 371, ../../../resources/assets/sass/admin/_base.scss */
  .message-list li {
    background: #F8F6F4;
    transition: background-color .3s ease;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 3px solid #1cb3dc;
    padding: 10px 20px;
    display: flex;
    cursor: pointer; }
    /* line 379, ../../../resources/assets/sass/admin/_base.scss */
    .message-list li input[type="checkbox"] {
      appearance: none;
      cursor: pointer;
      margin: 5px 10px 0 0;
      order: 1;
      width: 15px;
      height: 15px;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 3px; }
      /* line 389, ../../../resources/assets/sass/admin/_base.scss */
      .message-list li input[type="checkbox"]:checked {
        background: #EFEFEF; }
    /* line 393, ../../../resources/assets/sass/admin/_base.scss */
    .message-list li .preview {
      flex: 1;
      order: 2; }
      /* line 396, ../../../resources/assets/sass/admin/_base.scss */
      .message-list li .preview h4 {
        margin: 0;
        font-weight: 400;
        color: #333; }
        /* line 400, ../../../resources/assets/sass/admin/_base.scss */
        .message-list li .preview h4 small {
          float: right;
          color: #AAA;
          font-size: .8125rem; }
      /* line 406, ../../../resources/assets/sass/admin/_base.scss */
      .message-list li .preview p {
        color: #888;
        margin: 5px 0; }
    /* line 411, ../../../resources/assets/sass/admin/_base.scss */
    .message-list li:hover {
      background: #fff; }
    /* line 414, ../../../resources/assets/sass/admin/_base.scss */
    .message-list li.active {
      background: #fd9162;
      border-right: 3px solid rgba(0, 0, 0, 0.1); }
      /* line 418, ../../../resources/assets/sass/admin/_base.scss */
      .message-list li.active .preview h3, .message-list li.active .preview h3 small, .message-list li.active .preview p {
        color: #fff; }
    /* line 421, ../../../resources/assets/sass/admin/_base.scss */
    .message-list li.new {
      background: #fff;
      border-right: 3px solid #44c4e7; }

/* Base Styles */
/* line 1, ../../../resources/assets/sass/admin/_admin-layout.scss */
.wrap {
  *zoom: 1;
  width: 100%;
  padding-left: 0em;
  padding-right: 0em;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: transparent;
  position: relative; }
  /* line 38, ../../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .wrap:after {
    content: "";
    display: table;
    clear: both; }
  /* line 6, ../../../resources/assets/sass/admin/_admin-layout.scss */
  .wrap aside {
    width: 12.5%;
    float: left;
    margin-right: 0%;
    display: inline;
    height: 100%;
    background: #0f1629;
    position: absolute;
    font-size: 14px;
    left: 0;
    top: 0; }
    /* line 14, ../../../resources/assets/sass/admin/_admin-layout.scss */
    .wrap aside .logo {
      height: 95px;
      background: #1C89E4;
      padding-top: 20px;
      margin-bottom: 20px; }
      /* line 19, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap aside .logo img {
        margin: 0 auto;
        display: block; }
      /* line 23, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap aside .logo h2 {
        text-align: center;
        color: #FFFFFF;
        margin: 0; }
    /* line 30, ../../../resources/assets/sass/admin/_admin-layout.scss */
    .wrap aside nav .menu-block {
      padding: 15px 0; }
      /* line 32, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap aside nav .menu-block h5 {
        color: #b4b8bf;
        padding-left: 15px;
        font-family: OpenSansBold, sans-serif;
        text-transform: uppercase;
        margin-bottom: 10px; }
      /* line 40, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap aside nav .menu-block ul li {
        padding: 7px 0; }
        /* line 42, ../../../resources/assets/sass/admin/_admin-layout.scss */
        .wrap aside nav .menu-block ul li a {
          font-family: OpenSans, sans-serif;
          color: #6a7385;
          border-bottom: none;
          padding-left: 25px;
          padding-bottom: 15px; }
          /* line 48, ../../../resources/assets/sass/admin/_admin-layout.scss */
          .wrap aside nav .menu-block ul li a .iconic {
            width: 23px;
            height: 23px;
            vertical-align: middle;
            margin-right: 10px; }
          /* line 54, ../../../resources/assets/sass/admin/_admin-layout.scss */
          .wrap aside nav .menu-block ul li a .iconic * {
            fill: #6a7385;
            stroke: #6a7385; }
        /* line 59, ../../../resources/assets/sass/admin/_admin-layout.scss */
        .wrap aside nav .menu-block ul li:hover {
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          border-left: 4px solid #E9E9E9;
          fill: #E9E9E9; }
          /* line 63, ../../../resources/assets/sass/admin/_admin-layout.scss */
          .wrap aside nav .menu-block ul li:hover a {
            color: #E9E9E9; }
            /* line 65, ../../../resources/assets/sass/admin/_admin-layout.scss */
            .wrap aside nav .menu-block ul li:hover a .iconic * {
              fill: #E9E9E9;
              stroke: #E9E9E9; }
        /* line 71, ../../../resources/assets/sass/admin/_admin-layout.scss */
        .wrap aside nav .menu-block ul li.active {
          border-left: 4px solid #1C89E4;
          fill: #1C89E4; }
          /* line 74, ../../../resources/assets/sass/admin/_admin-layout.scss */
          .wrap aside nav .menu-block ul li.active a {
            color: #1C89E4; }
            /* line 76, ../../../resources/assets/sass/admin/_admin-layout.scss */
            .wrap aside nav .menu-block ul li.active a .iconic * {
              fill: #1C89E4;
              stroke: #1C89E4; }
  /* line 89, ../../../resources/assets/sass/admin/_admin-layout.scss */
  .wrap header .block-group, .wrap main .block-group {
    *zoom: 1;
    width: 100%;
    padding-left: 0em;
    padding-right: 0em;
    margin-left: auto;
    margin-right: auto; }
    /* line 38, ../../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
    .wrap header .block-group:after, .wrap main .block-group:after {
      content: "";
      display: table;
      clear: both; }
    /* line 91, ../../../resources/assets/sass/admin/_admin-layout.scss */
    .wrap header .block-group .col-3, .wrap main .block-group .col-3 {
      width: 23.72881%;
      float: left;
      margin-right: 1.69492%;
      display: inline; }
      /* line 93, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap header .block-group .col-3:last-child, .wrap main .block-group .col-3:last-child {
        float: right;
        margin-right: 0;
        *margin-left: -1em;
        display: inline; }
    /* line 97, ../../../resources/assets/sass/admin/_admin-layout.scss */
    .wrap header .block-group .col-4, .wrap main .block-group .col-4 {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%;
      display: inline; }
      /* line 99, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap header .block-group .col-4:last-child, .wrap main .block-group .col-4:last-child {
        float: right;
        margin-right: 0;
        *margin-left: -1em;
        display: inline; }
    /* line 103, ../../../resources/assets/sass/admin/_admin-layout.scss */
    .wrap header .block-group .col-8, .wrap main .block-group .col-8 {
      width: 66.10169%;
      float: left;
      margin-right: 1.69492%;
      display: inline; }
      /* line 105, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap header .block-group .col-8:last-child, .wrap main .block-group .col-8:last-child {
        float: right;
        margin-right: 0;
        *margin-left: -1em;
        display: inline; }
    /* line 109, ../../../resources/assets/sass/admin/_admin-layout.scss */
    .wrap header .block-group .col-6, .wrap main .block-group .col-6 {
      margin-bottom: 10px;
      width: 49.15254%;
      float: left;
      margin-right: 1.69492%;
      display: inline; }
      /* line 112, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap header .block-group .col-6:last-child, .wrap main .block-group .col-6:last-child {
        float: right;
        margin-right: 0;
        *margin-left: -1em;
        display: inline; }
  /* line 119, ../../../resources/assets/sass/admin/_admin-layout.scss */
  .wrap header {
    width: 87.5%;
    float: right;
    margin-right: 0;
    *margin-left: 0em;
    display: inline;
    background: #0f1629;
    height: 95px; }
    /* line 123, ../../../resources/assets/sass/admin/_admin-layout.scss */
    .wrap header .header-greeting {
      font-size: 2em;
      width: 50%;
      margin: 0;
      color: #EBECEE; }
    /* line 129, ../../../resources/assets/sass/admin/_admin-layout.scss */
    .wrap header small {
      color: #6a7385; }
    /* line 132, ../../../resources/assets/sass/admin/_admin-layout.scss */
    .wrap header .greeting {
      height: 95px;
      padding: 25px 0px 30px 20px; }
      /* line 135, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap header .greeting h3 {
        margin: 0;
        color: #FFFFFF;
        vertical-align: center; }
    /* line 141, ../../../resources/assets/sass/admin/_admin-layout.scss */
    .wrap header .account {
      height: 95px;
      padding: 8px 20px 10px 0px; }
      /* line 144, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap header .account .wrapper-dropdown-5 {
        /* Size & position */
        position: relative;
        width: 80px;
        margin: 5px auto 0 auto;
        padding: 20px 20px;
        float: right;
        /* Styles */
        border-radius: 5px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
        outline: none;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
        /* line 162, ../../../resources/assets/sass/admin/_admin-layout.scss */
        .wrap header .account .wrapper-dropdown-5 .iconic {
          width: 25px;
          height: 25px;
          vertical-align: middle; }
        /* line 167, ../../../resources/assets/sass/admin/_admin-layout.scss */
        .wrap header .account .wrapper-dropdown-5 .iconic * {
          fill: #E9E9E9;
          stroke: #E9E9E9; }
        /* line 171, ../../../resources/assets/sass/admin/_admin-layout.scss */
        .wrap header .account .wrapper-dropdown-5 .dropdown {
          /* Size & position */
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          z-index: 9;
          /* Styles */
          background: #0f1629;
          border-radius: 0 0 5px 5px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-top: none;
          border-bottom: none;
          list-style: none;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -ms-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
          /* Hiding */
          max-height: 0;
          overflow: hidden; }
          /* line 195, ../../../resources/assets/sass/admin/_admin-layout.scss */
          .wrap header .account .wrapper-dropdown-5 .dropdown li {
            padding: 0 10px; }
            /* line 197, ../../../resources/assets/sass/admin/_admin-layout.scss */
            .wrap header .account .wrapper-dropdown-5 .dropdown li i {
              margin-right: 5px;
              color: inherit;
              vertical-align: middle; }
            /* line 202, ../../../resources/assets/sass/admin/_admin-layout.scss */
            .wrap header .account .wrapper-dropdown-5 .dropdown li a {
              display: block;
              text-decoration: none;
              color: #E9E9E9;
              padding: 10px 0;
              transition: all 0.3s ease-out;
              border-bottom: 1px solid #e6e8ea;
              text-align: center;
              font-size: 12px; }
            /* line 213, ../../../resources/assets/sass/admin/_admin-layout.scss */
            .wrap header .account .wrapper-dropdown-5 .dropdown li:last-of-type a {
              border: none; }
            /* line 218, ../../../resources/assets/sass/admin/_admin-layout.scss */
            .wrap header .account .wrapper-dropdown-5 .dropdown li:hover a {
              color: #57a9d9; }
            /* line 221, ../../../resources/assets/sass/admin/_admin-layout.scss */
            .wrap header .account .wrapper-dropdown-5 .dropdown li:hover .iconic * {
              fill: #1C89E4;
              stroke: #1C89E4; }
        /* line 228, ../../../resources/assets/sass/admin/_admin-layout.scss */
        .wrap header .account .wrapper-dropdown-5:after {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          top: 50%;
          right: 15px;
          margin-top: -3px;
          border-width: 6px 6px 0 6px;
          border-style: solid;
          border-color: #4cbeff transparent; }
        /* line 240, ../../../resources/assets/sass/admin/_admin-layout.scss */
        .wrap header .account .wrapper-dropdown-5.active {
          border-radius: 5px 5px 0 0;
          background: #4cbeff;
          box-shadow: none;
          border-bottom: none;
          color: white; }
          /* line 246, ../../../resources/assets/sass/admin/_admin-layout.scss */
          .wrap header .account .wrapper-dropdown-5.active .dropdown {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            max-height: 400px; }
          /* line 250, ../../../resources/assets/sass/admin/_admin-layout.scss */
          .wrap header .account .wrapper-dropdown-5.active:after {
            border-color: #82d1ff transparent; }
  /* line 257, ../../../resources/assets/sass/admin/_admin-layout.scss */
  .wrap main {
    height: 90%;
    padding: 25px 40px;
    overflow-y: auto;
    width: 87.5%;
    float: right;
    margin-right: 0;
    *margin-left: 0em;
    display: inline; }
    /* line 262, ../../../resources/assets/sass/admin/_admin-layout.scss */
    .wrap main .subpage-header {
      background: #FFFFFF;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      padding: 20px 15px 10px 15px;
      margin-bottom: 20px; }
      /* line 267, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap main .subpage-header .subpage-header-title {
        margin-top: 0;
        margin-bottom: 30px;
        color: #4D5E70; }
      /* line 272, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap main .subpage-header .subpage-header-lists {
        padding-bottom: 40px;
        margin-bottom: 20px;
        border-bottom: 2px solid #E9E9E9;
        height: 30px; }
        /* line 277, ../../../resources/assets/sass/admin/_admin-layout.scss */
        .wrap main .subpage-header .subpage-header-lists ul {
          list-style: none; }
          /* line 279, ../../../resources/assets/sass/admin/_admin-layout.scss */
          .wrap main .subpage-header .subpage-header-lists ul li {
            float: left;
            margin-right: 10px; }
            /* line 282, ../../../resources/assets/sass/admin/_admin-layout.scss */
            .wrap main .subpage-header .subpage-header-lists ul li a {
              height: 40px;
              display: block; }
              /* line 285, ../../../resources/assets/sass/admin/_admin-layout.scss */
              .wrap main .subpage-header .subpage-header-lists ul li a:hover, .wrap main .subpage-header .subpage-header-lists ul li a.active {
                border-bottom: 3px solid #1C89E4;
                color: #1C89E4; }
    /* line 294, ../../../resources/assets/sass/admin/_admin-layout.scss */
    .wrap main .block {
      background: #FFFFFF;
      margin-bottom: 20px;
      padding: 10px 15px 10px 15px;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px; }
      /* line 299, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap main .block .block-title {
        border-bottom: 2px solid #d0d0d0;
        margin-bottom: 15px;
        padding: 10px 0;
        clear: right; }
        /* line 304, ../../../resources/assets/sass/admin/_admin-layout.scss */
        .wrap main .block .block-title h4 {
          margin: 0; }
    /* line 309, ../../../resources/assets/sass/admin/_admin-layout.scss */
    .wrap main .dash {
      min-height: 250px;
      text-align: center; }
      /* line 312, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap main .dash .dash-title {
        border-bottom: 2px solid #d0d0d0;
        margin-bottom: 15px;
        padding: 10px 0; }
        /* line 316, ../../../resources/assets/sass/admin/_admin-layout.scss */
        .wrap main .dash .dash-title h4 {
          margin: 0; }
      /* line 321, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap main .dash .dash-content h1 {
        font-size: 6em;
        margin-bottom: 10px; }
    /* line 327, ../../../resources/assets/sass/admin/_admin-layout.scss */
    .wrap main .block-left {
      width: 50%;
      float: left;
      margin-right: 0%;
      display: inline; }
    /* line 330, ../../../resources/assets/sass/admin/_admin-layout.scss */
    .wrap main .block-right {
      width: 50%;
      float: right;
      margin-right: 0;
      *margin-left: 0em;
      display: inline; }
    /* line 333, ../../../resources/assets/sass/admin/_admin-layout.scss */
    .wrap main .block-default {
      width: 100%;
      float: left;
      margin-right: 0%;
      display: inline; }
      /* line 335, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap main .block-default .inner-left {
        width: 50%;
        float: left;
        margin-right: 0%;
        display: inline;
        padding: 10px 15px; }
      /* line 339, ../../../resources/assets/sass/admin/_admin-layout.scss */
      .wrap main .block-default .inner-right {
        width: 50%;
        float: right;
        margin-right: 0;
        *margin-left: 0em;
        display: inline;
        padding: 10px 15px; }

/* Site Main Theme */
