/* Import Files */
/* normalize-scss 3.0.3+normalize.3.0.3 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
/* line 106, ../../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* line 67, ../../../resources/assets/components/normalize-scss/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 79, ../../../resources/assets/components/normalize-scss/_normalize.scss */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 93, ../../../resources/assets/components/normalize-scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 114, ../../../resources/assets/components/normalize-scss/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 133, ../../../resources/assets/components/normalize-scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 143, ../../../resources/assets/components/normalize-scss/_normalize.scss */
[hidden] {
  display: none; }

/**
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 152, ../../../resources/assets/components/normalize-scss/_normalize.scss */
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 164, ../../../resources/assets/components/normalize-scss/_normalize.scss */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 174, ../../../resources/assets/components/normalize-scss/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 186, ../../../resources/assets/components/normalize-scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 194, ../../../resources/assets/components/normalize-scss/_normalize.scss */
b,
strong {
  font-weight: bold; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 204, ../../../resources/assets/components/normalize-scss/_normalize.scss */
blockquote {
  margin: 1.5em 40px; }

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 213, ../../../resources/assets/components/normalize-scss/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 222, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

/* line 237, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em; }

/* line 243, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em; }

/* line 249, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

/* line 255, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em; }

/* line 261, ../../../resources/assets/components/normalize-scss/_normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 273, ../../../resources/assets/components/normalize-scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 284, ../../../resources/assets/components/normalize-scss/_normalize.scss */
p,
pre {
  margin: 1.5em 0; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 294, ../../../resources/assets/components/normalize-scss/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 302, ../../../resources/assets/components/normalize-scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 310, ../../../resources/assets/components/normalize-scss/_normalize.scss */
sup {
  top: -0.5em; }

/* line 314, ../../../resources/assets/components/normalize-scss/_normalize.scss */
sub {
  bottom: -0.25em; }

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 326, ../../../resources/assets/components/normalize-scss/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5em 0; }

/* line 347, ../../../resources/assets/components/normalize-scss/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 355, ../../../resources/assets/components/normalize-scss/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 367, ../../../resources/assets/components/normalize-scss/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 382, ../../../resources/assets/components/normalize-scss/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 395, ../../../resources/assets/components/normalize-scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 407, ../../../resources/assets/components/normalize-scss/_normalize.scss */
figure {
  margin: 1.5em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 416, ../../../resources/assets/components/normalize-scss/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
/* line 425, ../../../resources/assets/components/normalize-scss/_normalize.scss */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 433, ../../../resources/assets/components/normalize-scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 457, ../../../resources/assets/components/normalize-scss/_normalize.scss */
form {
  margin: 0; }

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 471, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 489, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 500, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 515, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 530, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 539, ../../../resources/assets/components/normalize-scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 550, ../../../resources/assets/components/normalize-scss/_normalize.scss */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 565, ../../../resources/assets/components/normalize-scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 582, ../../../resources/assets/components/normalize-scss/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 592, ../../../resources/assets/components/normalize-scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */ }
  /* line 602, ../../../resources/assets/components/normalize-scss/_normalize.scss */
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 612, ../../../resources/assets/components/normalize-scss/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 628, ../../../resources/assets/components/normalize-scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 642, ../../../resources/assets/components/normalize-scss/_normalize.scss */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 651, ../../../resources/assets/components/normalize-scss/_normalize.scss */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 662, ../../../resources/assets/components/normalize-scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 667, ../../../resources/assets/components/normalize-scss/_normalize.scss */
td,
th {
  padding: 0; }

/*
 * Variables
 */
/* Config and Sass Variables */
/* Sass Mixins */
/* Makes border-box properties */
/* line 14, ../../../resources/assets/components/susy/sass/susy/language/susyone/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.eot");
  src: url("../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato/Lato-Regular.svg#Lato") format("svg"); }
@font-face {
  font-family: "Latolight";
  src: url("../fonts/Lato/Lato-Light.eot");
  src: url("../fonts/Lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Light.woff") format("woff"), url("../fonts/Lato/Lato-Light.ttf") format("truetype"), url("../fonts/Lato/Lato-Light.svg#Latolight") format("svg"); }
@font-face {
  font-family: "Latoitalic";
  src: url("../fonts/Lato/Lato-Italic.eot");
  src: url("../fonts/Lato/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Italic.woff") format("woff"), url("../fonts/Lato/Lato-Italic.ttf") format("truetype"), url("../fonts/Lato/Lato-Italic.svg#Latoitalic") format("svg"); }
@font-face {
  font-family: "Latobold";
  src: url("../fonts/Lato/Lato-Bold.eot");
  src: url("../fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato/Lato-Bold.svg#Latobold") format("svg"); }
@font-face {
  font-family: "Latothin";
  src: url("../fonts/Lato/Lato-Thin.eot");
  src: url("../fonts/Lato/Lato-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/Lato-Thin.woff") format("woff"), url("../fonts/Lato/Lato-Thin.ttf") format("truetype"), url("../fonts/Lato/Lato-Thin.svg#Latothin") format("svg"); }
@font-face {
  font-family: "flexslider-icon";
  src: url("../fonts/flexslider/flexslider-icon.eot");
  src: url("../fonts/flexslider/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/flexslider/flexslider-icon.woff") format("woff"), url("../fonts/flexslider/flexslider-icon.ttf") format("truetype"), url("../fonts/flexslider/flexslider-icon.svg#flexslider-icon") format("svg"); }
/* line 11, ../../../resources/assets/sass/main/_base.scss */
body {
  font: 100% Lato, sans-serif;
  width: 100%;
  background: #2d2e32;
  letter-spacing: auto; }

/* line 18, ../../../resources/assets/sass/main/_base.scss */
body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5; }

/* line 22, ../../../resources/assets/sass/main/_base.scss */
h1, h2, h3, h4, h5, h6, ul, figure, img, label {
  margin: 0;
  padding: 0; }

/* line 27, ../../../resources/assets/sass/main/_base.scss */
#page, span, a {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */ }

@media (min-width: 43.75em) {
  /* line 35, ../../../resources/assets/sass/main/_base.scss */
  #page {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */ } }
/* line 43, ../../../resources/assets/sass/main/_base.scss */
h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */ }

@media (min-width: 43.75em) {
  /* line 51, ../../../resources/assets/sass/main/_base.scss */
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125; } }
@media (min-width: 56.25em) {
  /* line 59, ../../../resources/assets/sass/main/_base.scss */
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */ } }
/* line 67, ../../../resources/assets/sass/main/_base.scss */
h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */ }

@media (min-width: 43.75em) {
  /* line 75, ../../../resources/assets/sass/main/_base.scss */
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25; } }
@media (min-width: 56.25em) {
  /* line 83, ../../../resources/assets/sass/main/_base.scss */
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25; } }
/* line 90, ../../../resources/assets/sass/main/_base.scss */
h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */ }

@media (min-width: 43.75em) {
  /* line 98, ../../../resources/assets/sass/main/_base.scss */
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25; } }
@media (min-width: 56.25em) {
  /* line 106, ../../../resources/assets/sass/main/_base.scss */
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25; } }
/* line 113, ../../../resources/assets/sass/main/_base.scss */
h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111; }

@media (min-width: 43.75em) {
  /* line 120, ../../../resources/assets/sass/main/_base.scss */
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */ } }
/* line 126, ../../../resources/assets/sass/main/_base.scss */
blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */ }

@media (min-width: 43.75em) {
  /* line 134, ../../../resources/assets/sass/main/_base.scss */
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */ } }
/* line 142, ../../../resources/assets/sass/main/_base.scss */
a {
  text-decoration: none;
  color: #f4f4f4; }
  /* line 145, ../../../resources/assets/sass/main/_base.scss */
  a.active {
    color: #2ac3ff; }
  /* line 148, ../../../resources/assets/sass/main/_base.scss */
  a:hover {
    color: #376080; }

/* line 153, ../../../resources/assets/sass/main/_base.scss */
p {
  font-size: 1em; }

/* line 157, ../../../resources/assets/sass/main/_base.scss */
label {
  color: #f4f4f4; }

/* line 162, ../../../resources/assets/sass/main/_base.scss */
table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: #f4f4f4;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  /* line 169, ../../../resources/assets/sass/main/_base.scss */
  table thead {
    background: #030303; }
  /* line 172, ../../../resources/assets/sass/main/_base.scss */
  table tr {
    border-bottom: 1px solid #515256; }
    /* line 174, ../../../resources/assets/sass/main/_base.scss */
    table tr th {
      padding: 15px 3px; }
    /* line 177, ../../../resources/assets/sass/main/_base.scss */
    table tr td {
      padding: 12px 3px; }
    /* line 180, ../../../resources/assets/sass/main/_base.scss */
    table tr td, table tr th {
      text-align: left;
      vertical-align: center; }
  /* line 185, ../../../resources/assets/sass/main/_base.scss */
  table tr:last-child {
    border-bottom: none; }

/* line 190, ../../../resources/assets/sass/main/_base.scss */
.field-wrapper-inline {
  margin: 5px 10px 5px 0; }
  /* line 192, ../../../resources/assets/sass/main/_base.scss */
  .field-wrapper-inline .remember-me, .field-wrapper-inline .forgot-pass {
    float: left;
    margin-top: 5px; }
  /* line 197, ../../../resources/assets/sass/main/_base.scss */
  .field-wrapper-inline.lg .form-input, .field-wrapper-inline.lg .form-select, .field-wrapper-inline.lg .form-button {
    height: 40px; }
  /* line 202, ../../../resources/assets/sass/main/_base.scss */
  .field-wrapper-inline.sm .form-input, .field-wrapper-inline.sm .form-button, .field-wrapper-inline.sm .form-select {
    height: 30px;
    margin-right: 5px;
    float: left;
    display: block; }
  /* line 208, ../../../resources/assets/sass/main/_base.scss */
  .field-wrapper-inline.sm label {
    padding-top: 5px;
    float: left;
    margin-right: 5px; }
  /* line 213, ../../../resources/assets/sass/main/_base.scss */
  .field-wrapper-inline.sm .form-select {
    height: 30px;
    padding: 2px 10px;
    margin-top: 0;
    margin-right: 10px; }
  /* line 219, ../../../resources/assets/sass/main/_base.scss */
  .field-wrapper-inline.sm .form-button {
    margin-top: 0;
    height: 30px; }

/* line 227, ../../../resources/assets/sass/main/_base.scss */
.field-wrapper-block {
  display: table;
  width: 100%;
  margin: 10px 0; }
  /* line 232, ../../../resources/assets/sass/main/_base.scss */
  .field-wrapper-block.lg .form-input, .field-wrapper-block.lg .form-select, .field-wrapper-block.lg .form-textarea {
    width: 100%; }
  /* line 235, ../../../resources/assets/sass/main/_base.scss */
  .field-wrapper-block.lg .form-input, .field-wrapper-block.lg .form-button {
    height: 40px; }
  /* line 240, ../../../resources/assets/sass/main/_base.scss */
  .field-wrapper-block.sm .form-input, .field-wrapper-block.sm .form-button {
    height: 30px; }

/* line 246, ../../../resources/assets/sass/main/_base.scss */
.form-input, .form-textarea, .form-select {
  color: #e8e8e8;
  background: transparent;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 2px solid #515256;
  padding: 6px 12px;
  margin-top: 10px;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
  /* line 254, ../../../resources/assets/sass/main/_base.scss */
  .form-input:focus, .form-input:hover, .form-textarea:focus, .form-textarea:hover, .form-select:focus, .form-select:hover {
    color: #f4f4f4;
    border: 2px solid #2ac3ff;
    outline: none;
    box-shadow: 0 0 3px #2ac3ff;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  /* line 261, ../../../resources/assets/sass/main/_base.scss */
  .form-input.error, .form-textarea.error, .form-select.error {
    border-color: #f23846; }

/* line 266, ../../../resources/assets/sass/main/_base.scss */
.form-input {
  height: 34px; }

/* line 270, ../../../resources/assets/sass/main/_base.scss */
.form-checkbox {
  float: left;
  margin-right: 5px; }

/* line 275, ../../../resources/assets/sass/main/_base.scss */
.form-textarea {
  height: 200px; }

/* line 280, ../../../resources/assets/sass/main/_base.scss */
.form-select option {
  color: #030303; }

/* line 285, ../../../resources/assets/sass/main/_base.scss */
.radio {
  margin-top: 15px;
  padding-bottom: 10px;
  height: 34px; }
  /* line 289, ../../../resources/assets/sass/main/_base.scss */
  .radio label {
    float: left;
    margin-right: 15px; }
  /* line 293, ../../../resources/assets/sass/main/_base.scss */
  .radio .form-radio {
    float: left;
    margin-right: 5px;
    margin-bottom: 20px; }

/* line 300, ../../../resources/assets/sass/main/_base.scss */
.form-button {
  border: 0 none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  color: #242529;
  cursor: pointer;
  float: left;
  font: 14px Lato, sans-serif;
  padding: 7px 10px;
  text-transform: none;
  height: 34px;
  margin-top: 10px;
  margin-right: 5px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: auto;
  /* auto */
  min-width: 120px;
  text-align: center;
  /* DELETE WHEN WIDTH AUTO */
  line-height: 19px; }
  /* line 317, ../../../resources/assets/sass/main/_base.scss */
  .form-button.active {
    background: #2ac3ff;
    color: #f4f4f4; }
    /* line 320, ../../../resources/assets/sass/main/_base.scss */
    .form-button.active:hover {
      background: #6f717a;
      color: #f4f4f4; }
  /* line 325, ../../../resources/assets/sass/main/_base.scss */
  .form-button.default {
    background: #f4f4f4;
    color: #030303; }
    /* line 328, ../../../resources/assets/sass/main/_base.scss */
    .form-button.default:hover {
      background: #6f717a;
      color: #f4f4f4; }

/* line 335, ../../../resources/assets/sass/main/_base.scss */
.subpage-titles {
  background: url("../images/subpagetitlebg.jpg") no-repeat;
  height: 120px;
  padding: 40px 0;
  background-size: cover;
  margin-bottom: 50px; }
  /* line 341, ../../../resources/assets/sass/main/_base.scss */
  .subpage-titles .subpage-title {
    color: #f4f4f4;
    text-transform: capitalize; }

/* line 347, ../../../resources/assets/sass/main/_base.scss */
.block-title {
  margin-bottom: 40px;
  color: #2ac3ff; }
  /* line 350, ../../../resources/assets/sass/main/_base.scss */
  .block-title .light-fnt {
    font-family: Latothin, sans-serif;
    color: #030303; }
  /* line 354, ../../../resources/assets/sass/main/_base.scss */
  .block-title .wht {
    color: #f4f4f4; }

/* line 359, ../../../resources/assets/sass/main/_base.scss */
.footer-title {
  margin-bottom: 20px;
  color: #2ac3ff; }
  /* line 362, ../../../resources/assets/sass/main/_base.scss */
  .footer-title .light-fnt {
    font-family: Latothin, sans-serif;
    color: #030303; }

/* line 368, ../../../resources/assets/sass/main/_base.scss */
.reminder, .reminder-list {
  color: #6f717a; }

/* line 372, ../../../resources/assets/sass/main/_base.scss */
.section-header {
  font-family: Latolight, sans-serif;
  margin: 0 auto 20px auto;
  color: #38f264; }
  /* line 376, ../../../resources/assets/sass/main/_base.scss */
  .section-header::after {
    height: 5px;
    margin-top: 5px;
    display: block;
    width: 100%;
    background: #6f717a;
    border-right: 1px #f4f4f4;
    content: ''; }

/* line 387, ../../../resources/assets/sass/main/_base.scss */
.flash-region {
  margin-bottom: 40px;
  padding: 5px 55px;
  color: #6f717a;
  min-height: 50px;
  height: auto; }
  /* line 393, ../../../resources/assets/sass/main/_base.scss */
  .flash-region ul {
    margin: 24px 0;
    padding: 0 25px; }
    /* line 396, ../../../resources/assets/sass/main/_base.scss */
    .flash-region ul li {
      padding: 4px 0; }
  /* line 400, ../../../resources/assets/sass/main/_base.scss */
  .flash-region p {
    padding-left: 25px; }
  /* line 403, ../../../resources/assets/sass/main/_base.scss */
  .flash-region.error {
    background: #242529;
    color: #f23846;
    border: 2px solid #f23846;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
  /* line 409, ../../../resources/assets/sass/main/_base.scss */
  .flash-region.success {
    background: #242529;
    color: #38f264;
    border: 2px solid #38f264;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
  /* line 415, ../../../resources/assets/sass/main/_base.scss */
  .flash-region.warning {
    background: #242529;
    color: yellow;
    border: 2px solid yellow;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }

/* line 424, ../../../resources/assets/sass/main/_base.scss */
.tooltip {
  color: #f23846; }

/* line 429, ../../../resources/assets/sass/main/_base.scss */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url("../images/cd-top-arrow.svg") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s; }
  /* line 447, ../../../resources/assets/sass/main/_base.scss */
  .cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s; }
  /* line 452, ../../../resources/assets/sass/main/_base.scss */
  .cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1; }
  /* line 457, ../../../resources/assets/sass/main/_base.scss */
  .cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5; }
  /* line 461, ../../../resources/assets/sass/main/_base.scss */
  .no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1; }

@media only screen and (min-width: 768px) {
  /* line 467, ../../../resources/assets/sass/main/_base.scss */
  .cd-top {
    right: 20px;
    bottom: 20px; } }
@media only screen and (min-width: 1024px) {
  /* line 473, ../../../resources/assets/sass/main/_base.scss */
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px; } }
/* Future Enhancement
.online-stat, .offline-stat, .idle-stat {
  text-transform: uppercase;
  height: 40px;
  width: 150px;
  text-align: center;
  padding: 10px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 1.25em;
  letter-spacing: 1px;
}

.online-stat {
  color: $white;
  background: $green;
}

.offline-stat {
  color: $white;
  background: $red;
}

.idle-stat {
  color: #b6b2b2;
  background: #d2d2d2;
}
*/
/* Base Styles */
/* line 1, ../../../resources/assets/sass/main/_public-layout.scss */
.container {
  /* ---------------------------------- End of Header */ }
  /* line 2, ../../../resources/assets/sass/main/_public-layout.scss */
  .container .inner-content,
  .container .content-region,
  .container .inner-main-nav,
  .container .inner-sub-nav,
  .container .flash-region {
    *zoom: 1;
    max-width: 1170px;
    max-width: 73.125rem;
    _width: 1170px;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto; }
    /* line 38, ../../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
    .container .inner-content:after,
    .container .content-region:after,
    .container .inner-main-nav:after,
    .container .inner-sub-nav:after,
    .container .flash-region:after {
      content: "";
      display: table;
      clear: both; }
  /* line 9, ../../../resources/assets/sass/main/_public-layout.scss */
  .container .sidebar {
    position: fixed;
    top: 320px;
    left: 40px;
    height: 240px;
    width: 200px;
    background: rgba(36, 37, 41, 0.9);
    /*background: rgb(36,37,40);*/
    z-index: 10;
    padding: 20px 5px;
    text-align: center;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
    /* line 21, ../../../resources/assets/sass/main/_public-layout.scss */
    .container .sidebar h4 {
      color: #f4f4f4;
      margin-bottom: 10px; }
    /* line 25, ../../../resources/assets/sass/main/_public-layout.scss */
    .container .sidebar .sidebar-content {
      border: 1px solid #515256; }
      /* line 28, ../../../resources/assets/sass/main/_public-layout.scss */
      .container .sidebar .sidebar-content tr td:first-child {
        width: 50px;
        padding: 10px 15px; }
      /* line 32, ../../../resources/assets/sass/main/_public-layout.scss */
      .container .sidebar .sidebar-content tr td:last-child {
        color: #2ac3ff;
        font-weight: bold; }
  /* line 39, ../../../resources/assets/sass/main/_public-layout.scss */
  .container header {
    background: #030303;
    height: auto;
    display: block; }
    /* line 43, ../../../resources/assets/sass/main/_public-layout.scss */
    .container header .inner-content {
      height: 95px; }
      /* line 45, ../../../resources/assets/sass/main/_public-layout.scss */
      .container header .inner-content .logo-block {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%;
        display: inline;
        height: 95px;
        padding: 25px 0; }
        /* line 49, ../../../resources/assets/sass/main/_public-layout.scss */
        .container header .inner-content .logo-block .show-image {
          width: 116px;
          height: 45px;
          background: url("../images/logo.png"); }
          /* line 53, ../../../resources/assets/sass/main/_public-layout.scss */
          .container header .inner-content .logo-block .show-image.hide-text {
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden; }
      /* line 60, ../../../resources/assets/sass/main/_public-layout.scss */
      .container header .inner-content .login-block {
        width: 66.10169%;
        float: right;
        margin-right: 0;
        *margin-left: -1em;
        display: inline;
        height: 85px; }
        /* line 63, ../../../resources/assets/sass/main/_public-layout.scss */
        .container header .inner-content .login-block .login {
          color: #f23846;
          margin-top: 0; }
        /* line 67, ../../../resources/assets/sass/main/_public-layout.scss */
        .container header .inner-content .login-block .inner-login-block {
          float: right;
          padding: 20px 0; }
          /* line 71, ../../../resources/assets/sass/main/_public-layout.scss */
          .container header .inner-content .login-block .inner-login-block .field-wrapper-inline .form-input {
            width: 170px;
            margin-top: 0; }
          /* line 75, ../../../resources/assets/sass/main/_public-layout.scss */
          .container header .inner-content .login-block .inner-login-block .field-wrapper-inline label {
            margin-right: 55px; }
          /* line 78, ../../../resources/assets/sass/main/_public-layout.scss */
          .container header .inner-content .login-block .inner-login-block .field-wrapper-inline a {
            text-decoration: underline; }
        /* line 83, ../../../resources/assets/sass/main/_public-layout.scss */
        .container header .inner-content .login-block .wrapper-dropdown-5 {
          /* Size & position */
          position: relative;
          width: 200px;
          margin: 5px auto 0 auto;
          padding: 12px 15px;
          /* Styles */
          background: #f4f4f4;
          border-radius: 5px;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
          cursor: pointer;
          outline: none;
          -webkit-transition: all 0.3s ease-out;
          -moz-transition: all 0.3s ease-out;
          -ms-transition: all 0.3s ease-out;
          -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out; }
          /* line 101, ../../../resources/assets/sass/main/_public-layout.scss */
          .container header .inner-content .login-block .wrapper-dropdown-5 .dropdown {
            /* Size & position */
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 9;
            /* Styles */
            background: #fff;
            border-radius: 0 0 5px 5px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-top: none;
            border-bottom: none;
            list-style: none;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
            /* Hiding */
            max-height: 0;
            overflow: hidden; }
            /* line 125, ../../../resources/assets/sass/main/_public-layout.scss */
            .container header .inner-content .login-block .wrapper-dropdown-5 .dropdown li {
              padding: 0 10px; }
              /* line 127, ../../../resources/assets/sass/main/_public-layout.scss */
              .container header .inner-content .login-block .wrapper-dropdown-5 .dropdown li i {
                margin-right: 5px;
                color: inherit;
                vertical-align: middle; }
              /* line 132, ../../../resources/assets/sass/main/_public-layout.scss */
              .container header .inner-content .login-block .wrapper-dropdown-5 .dropdown li a {
                display: block;
                text-decoration: none;
                color: #333;
                padding: 10px 0;
                transition: all 0.3s ease-out;
                border-bottom: 1px solid #e6e8ea; }
              /* line 141, ../../../resources/assets/sass/main/_public-layout.scss */
              .container header .inner-content .login-block .wrapper-dropdown-5 .dropdown li:last-of-type a {
                border: none; }
              /* line 146, ../../../resources/assets/sass/main/_public-layout.scss */
              .container header .inner-content .login-block .wrapper-dropdown-5 .dropdown li:hover a {
                color: #57a9d9; }
          /* line 152, ../../../resources/assets/sass/main/_public-layout.scss */
          .container header .inner-content .login-block .wrapper-dropdown-5:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -3px;
            border-width: 6px 6px 0 6px;
            border-style: solid;
            border-color: #4cbeff transparent; }
          /* line 164, ../../../resources/assets/sass/main/_public-layout.scss */
          .container header .inner-content .login-block .wrapper-dropdown-5.active {
            border-radius: 5px 5px 0 0;
            background: #4cbeff;
            box-shadow: none;
            border-bottom: none;
            color: white; }
            /* line 170, ../../../resources/assets/sass/main/_public-layout.scss */
            .container header .inner-content .login-block .wrapper-dropdown-5.active .dropdown {
              border-bottom: 1px solid rgba(0, 0, 0, 0.2);
              max-height: 400px; }
            /* line 174, ../../../resources/assets/sass/main/_public-layout.scss */
            .container header .inner-content .login-block .wrapper-dropdown-5.active:after {
              border-color: #82d1ff transparent; }
    /* line 182, ../../../resources/assets/sass/main/_public-layout.scss */
    .container header nav .main-nav {
      background: #274359;
      border-bottom: solid 5px #2ac3ff; }
      /* line 185, ../../../resources/assets/sass/main/_public-layout.scss */
      .container header nav .main-nav a#openup {
        display: none; }
      /* line 188, ../../../resources/assets/sass/main/_public-layout.scss */
      .container header nav .main-nav .inner-main-nav {
        height: 45px;
        list-style: none; }
        /* line 191, ../../../resources/assets/sass/main/_public-layout.scss */
        .container header nav .main-nav .inner-main-nav li {
          float: left;
          display: block;
          padding: 15px; }
          /* line 195, ../../../resources/assets/sass/main/_public-layout.scss */
          .container header nav .main-nav .inner-main-nav li:hover, .container header nav .main-nav .inner-main-nav li.active {
            background: #2ac3ff; }
          /* line 198, ../../../resources/assets/sass/main/_public-layout.scss */
          .container header nav .main-nav .inner-main-nav li:nth-child(n+8) {
            display: none; }
    /* line 204, ../../../resources/assets/sass/main/_public-layout.scss */
    .container header nav .sub-nav {
      background: #242529; }
      /* line 206, ../../../resources/assets/sass/main/_public-layout.scss */
      .container header nav .sub-nav .inner-sub-nav {
        height: 40px; }
        /* line 208, ../../../resources/assets/sass/main/_public-layout.scss */
        .container header nav .sub-nav .inner-sub-nav li {
          float: left;
          display: block;
          padding: 10px; }
          /* line 212, ../../../resources/assets/sass/main/_public-layout.scss */
          .container header nav .sub-nav .inner-sub-nav li ul {
            display: none;
            position: absolute;
            padding-top: 5px;
            z-index: 5; }
            /* line 217, ../../../resources/assets/sass/main/_public-layout.scss */
            .container header nav .sub-nav .inner-sub-nav li ul li {
              float: none;
              width: auto;
              background: #242529;
              border-bottom: 1px solid #030303; }
              /* line 222, ../../../resources/assets/sass/main/_public-layout.scss */
              .container header nav .sub-nav .inner-sub-nav li ul li:hover {
                color: #f4f4f4;
                background: #2ac3ff; }
              /* line 226, ../../../resources/assets/sass/main/_public-layout.scss */
              .container header nav .sub-nav .inner-sub-nav li ul li a {
                line-height: 30px;
                padding: 10px; }
            /* line 231, ../../../resources/assets/sass/main/_public-layout.scss */
            .container header nav .sub-nav .inner-sub-nav li ul li:last-child {
              border-bottom: 0; }
          /* line 236, ../../../resources/assets/sass/main/_public-layout.scss */
          .container header nav .sub-nav .inner-sub-nav li:hover ul {
            display: block; }
          /* line 241, ../../../resources/assets/sass/main/_public-layout.scss */
          .container header nav .sub-nav .inner-sub-nav li.active {
            color: #f4f4f4;
            background: #2ac3ff; }
    /* line 249, ../../../resources/assets/sass/main/_public-layout.scss */
    .container header .news-bar {
      overflow: hidden;
      position: relative;
      height: 35px;
      width: 100%;
      margin: 0 auto; }
      /* line 255, ../../../resources/assets/sass/main/_public-layout.scss */
      .container header .news-bar .first {
        padding: 8px 40px;
        width: inherit;
        margin: 0;
        position: absolute;
        left: 0;
        top: 0; }
        /* line 262, ../../../resources/assets/sass/main/_public-layout.scss */
        .container header .news-bar .first dt {
          background-color: #f66;
          color: #fff; }
        /* line 266, ../../../resources/assets/sass/main/_public-layout.scss */
        .container header .news-bar .first dd {
          color: #f4f4f4;
          margin-right: 50px; }
        /* line 270, ../../../resources/assets/sass/main/_public-layout.scss */
        .container header .news-bar .first dl {
          display: block;
          margin: 0; }
        /* line 274, ../../../resources/assets/sass/main/_public-layout.scss */
        .container header .news-bar .first dt, .container header .news-bar .first dd {
          display: block;
          float: left;
          margin: 0 10px;
          padding: 0px 10px; }
      /* line 281, ../../../resources/assets/sass/main/_public-layout.scss */
      .container header .news-bar .first > div {
        width: 100%;
        height: 28px;
        padding: 5px 0;
        overflow: hidden; }
  /* line 289, ../../../resources/assets/sass/main/_public-layout.scss */
  .container main {
    /* ---------------------------------- End of Slider */
    /* ---------------------------------- End of How To Join */
    /* ---------------------------------- End of Register Now */
    /* ---------------------------------- End of Products */
    /* ---------------------------------- End of About */
    /* ---------------------------------- End of Bank */
    /* End Landing Page */ }
    /* line 290, ../../../resources/assets/sass/main/_public-layout.scss */
    .container main .slider {
      height: auto; }
      /* line 292, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .slider .flexslider {
        background: transparent;
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
        overflow: hidden; }
        /* line 298, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .slider .flexslider .flex-control-nav {
          bottom: 0; }
    /* line 303, ../../../resources/assets/sass/main/_public-layout.scss */
    .container main .how-to-join {
      height: 190px;
      display: block;
      background: #274359; }
      /* line 307, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .how-to-join img {
        display: block;
        margin: 0 auto;
        padding: 40px 0;
        height: auto;
        width: 1143px; }
    /* line 315, ../../../resources/assets/sass/main/_public-layout.scss */
    .container main .register-now {
      display: none; }
    /* line 318, ../../../resources/assets/sass/main/_public-layout.scss */
    .container main .products-region {
      height: 600px;
      padding: 100px 0px;
      background: #f4f4f4; }
      /* line 323, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .products-region .inner-content .product-block {
        list-style: none;
        padding: 10px 10px 0 10px; }
        /* line 326, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .products-region .inner-content .product-block .product-lists {
          width: 23.72881%;
          float: left;
          margin-right: 1.69492%;
          display: inline;
          height: 240px;
          -webkit-box-shadow: 0px 7px 20px -2px #b3adb3;
          -moz-box-shadow: 0px 7px 20px -2px #b3adb3;
          box-shadow: 0px 7px 20px -2px #b3adb3; }
          /* line 328, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .products-region .inner-content .product-block .product-lists:nth-child(4n) {
            width: 23.72881%;
            float: right;
            margin-right: 0;
            *margin-left: -1em;
            display: inline; }
          /* line 336, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .products-region .inner-content .product-block .product-lists a img {
            height: 240px;
            width: 100%; }
    /* line 345, ../../../resources/assets/sass/main/_public-layout.scss */
    .container main .about-region {
      height: 540px;
      padding: 100px 0px;
      background: url("../images/pattern.png"); }
      /* line 349, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .about-region .inner-content {
        color: #f4f4f4; }
        /* line 351, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .about-region .inner-content .about-block {
          width: 49.15254%;
          float: left;
          margin-right: 1.69492%;
          display: inline; }
          /* line 353, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .about-region .inner-content .about-block .green {
            color: #38f264; }
        /* line 357, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .about-region .inner-content .terms-block {
          width: 49.15254%;
          float: right;
          margin-right: 0;
          *margin-left: -1em;
          display: inline;
          margin-top: 15px; }
          /* line 360, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .about-region .inner-content .terms-block ul {
            list-style: square; }
            /* line 362, ../../../resources/assets/sass/main/_public-layout.scss */
            .container main .about-region .inner-content .terms-block ul li {
              margin-bottom: 5px; }
    /* line 369, ../../../resources/assets/sass/main/_public-layout.scss */
    .container main .bank-schedule {
      height: 640px;
      padding: 100px 0;
      background: #2d2e32; }
      /* line 374, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .bank-schedule .inner-content .mandiri-bank-logo, .container main .bank-schedule .inner-content .bca-bank-logo, .container main .bank-schedule .inner-content .bni-bank-logo, .container main .bank-schedule .inner-content .bri-bank-logo {
        height: 166px;
        background: url("../images/banksprite2.png") no-repeat;
        position: relative;
        margin-bottom: 50px; }
        /* line 379, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .bank-schedule .inner-content .mandiri-bank-logo .bank-status, .container main .bank-schedule .inner-content .bca-bank-logo .bank-status, .container main .bank-schedule .inner-content .bni-bank-logo .bank-status, .container main .bank-schedule .inner-content .bri-bank-logo .bank-status {
          position: absolute;
          bottom: -20px;
          left: 30px; }
          /* line 383, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .bank-schedule .inner-content .mandiri-bank-logo .bank-status div, .container main .bank-schedule .inner-content .bca-bank-logo .bank-status div, .container main .bank-schedule .inner-content .bni-bank-logo .bank-status div, .container main .bank-schedule .inner-content .bri-bank-logo .bank-status div {
            float: left;
            margin-left: 8px; }
      /* line 389, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .bank-schedule .inner-content .bank {
        width: 23.72881%;
        float: left;
        margin-right: 1.69492%;
        display: inline; }
        /* line 391, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .bank-schedule .inner-content .bank:last-child {
          float: right;
          margin-right: 0;
          *margin-left: -1em;
          display: inline; }
      /* line 395, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .bank-schedule .inner-content .mandiri-bank {
        display: block; }
        /* line 397, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .bank-schedule .inner-content .mandiri-bank .mandiri-bank-logo {
          background-position: 7px 0px; }
      /* line 402, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .bank-schedule .inner-content .bca-bank .bca-bank-logo {
        background-position: -268px 0px; }
      /* line 407, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .bank-schedule .inner-content .bni-bank .bni-bank-logo {
        background-position: -538px 0px; }
      /* line 412, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .bank-schedule .inner-content .bri-bank .bri-bank-logo {
        background-position: -812px 0px; }
      /* line 416, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .bank-schedule .inner-content .bank-schedules {
        padding: 0px 10px;
        color: #f4f4f4;
        font-size: 0.813em; }
        /* line 423, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .bank-schedule .inner-content .bank-schedules table tbody tr td {
          padding: 5px; }
    /* line 434, ../../../resources/assets/sass/main/_public-layout.scss */
    .container main .content-region {
      margin-bottom: 100px;
      min-height: 180px;
      /* --------------------------------------
      	 	Help Page 
      		--------------------------------------*/
      /* End Help Page */
      /* --------------------------------------
       	Contact Page 
      	--------------------------------------*/
      /* End Contact Page */
      /* --------------------------------------
       	Casino Page 
      	--------------------------------------*/
      /* End Casino Page */
      /* Ending of Transaction Pages*/ }
      /* line 437, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .section-header {
        color: #38f264;
        margin-top: 10px; }
      /* line 441, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .search-block {
        margin-bottom: 20px;
        height: 25px; }
      /* line 445, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .inner-left-region {
        width: 49.15254%;
        float: left;
        margin-right: 1.69492%;
        display: inline; }
      /* line 448, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .inner-right-region {
        width: 49.15254%;
        float: right;
        margin-right: 0;
        *margin-left: -1em;
        display: inline; }
        /* line 450, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .content-region .inner-right-region .form-submit {
          float: right; }
      /* line 454, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .inner-left-region-sm {
        clear: right; }
      /* line 457, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .inner-right-region-sm {
        clear: left; }
      /* line 460, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .inner-left-region-sm, .container main .content-region .inner-right-region-sm {
        width: 23.72881%;
        float: left;
        margin-right: 1.69492%;
        display: inline; }
      /* line 463, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .inner-left-region-lg, .container main .content-region .inner-right-region-lg {
        width: 74.57627%;
        float: right;
        margin-right: 0;
        *margin-left: -1em;
        display: inline; }
      /* line 466, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .display-table {
        table-layout: fixed;
        border-collapse: collapse;
        text-align: center;
        margin-bottom: 40px; }
        /* line 472, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .content-region .display-table tbody tr {
          background: #515256;
          border-bottom: 1px dashed #e8e8e8; }
          /* line 476, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .content-region .display-table tbody tr td .field-wrapper-block {
            margin: 0 auto;
            width: auto; }
            /* line 479, ../../../resources/assets/sass/main/_public-layout.scss */
            .container main .content-region .display-table tbody tr td .field-wrapper-block .form-button {
              margin: 0;
              text-align: center; }
          /* line 485, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .content-region .display-table tbody tr:last-child {
            border-bottom: 0; }
        /* line 490, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .content-region .display-table td, .container main .content-region .display-table th {
          text-align: center;
          border-right: 1px dashed #e8e8e8; }
          /* line 493, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .content-region .display-table td:last-child, .container main .content-region .display-table th:last-child {
            border-right: 0; }
      /* line 501, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region h4 {
        color: #f4f4f4; }
      /* line 504, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region ol {
        color: #f4f4f4; }
        /* line 507, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .content-region ol li a {
          color: #2ac3ff;
          text-decoration: underline; }
      /* line 514, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .q-tag h4 {
        background: #2ac3ff;
        padding: 15px; }
      /* line 518, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .q-tag p, .container main .content-region .q-tag b {
        color: #f4f4f4;
        padding-left: 20px; }
      /* line 522, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .q-tag ol, .container main .content-region .q-tag ul {
        padding-left: 60px; }
      /* line 525, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .q-tag ul {
        color: #f4f4f4;
        margin: 15px 0;
        font-family: Latoitalic, sans-serif; }
      /* line 530, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .q-tag table {
        margin: 20px auto;
        text-align: center;
        table-layout: fixed;
        border-collapse: collapse;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px; }
        /* line 539, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .content-region .q-tag table thead td {
          padding: 20px;
          border: 1px solid #6f717a; }
        /* line 544, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .content-region .q-tag table tbody {
          padding: 10px;
          background: #515256;
          color: #f4f4f4; }
          /* line 549, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .content-region .q-tag table tbody tr td {
            padding: 15px;
            border: 1px solid #6f717a; }
        /* line 555, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .content-region .q-tag table td, .container main .content-region .q-tag table th {
          text-align: center; }
      /* line 564, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .inner-left-region .social-center, .container main .content-region .inner-left-region-sm .social-center {
        height: 220px;
        margin: 3.44828% 0;
        text-align: center;
        color: #f4f4f4;
        width: 100%; }
        /* line 570, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .content-region .inner-left-region .social-center .social-content, .container main .content-region .inner-left-region-sm .social-center .social-content {
          height: 75%;
          background: #18191d;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px; }
          /* line 575, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .content-region .inner-left-region .social-center .social-content img, .container main .content-region .inner-left-region-sm .social-center .social-content img {
            display: block;
            margin: 0 auto;
            padding: 20px 0 10px 0; }
        /* line 581, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .content-region .inner-left-region .social-center .social-id, .container main .content-region .inner-left-region-sm .social-center .social-id {
          height: 25%;
          padding: 18px 0;
          background: #2ac3ff;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px; }
          /* line 587, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .content-region .inner-left-region .social-center .social-id b, .container main .content-region .inner-left-region-sm .social-center .social-id b {
            font-family: Latobold, sans-serif;
            font-size: 18px;
            text-transform: uppercase; }
      /* line 598, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .casino-block, .container main .content-region .casino-block-right {
        width: 74.57627%;
        float: left;
        margin-right: 1.69492%;
        display: inline;
        background: #242529;
        overflow: visible;
        height: auto;
        position: relative; }
        /* line 604, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .content-region .casino-block figure, .container main .content-region .casino-block-right figure {
          background: url("../images/casinosprite.png") no-repeat;
          height: 270px; }
        /* line 608, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .content-region .casino-block .casino-block-desc, .container main .content-region .casino-block-right .casino-block-desc {
          background: #242529; }
          /* line 610, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .content-region .casino-block .casino-block-desc h3, .container main .content-region .casino-block-right .casino-block-desc h3 {
            color: #2ac3ff;
            margin-bottom: 10px; }
          /* line 614, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .content-region .casino-block .casino-block-desc h4, .container main .content-region .casino-block-right .casino-block-desc h4 {
            color: #f4f4f4;
            font-family: Latolight, sans-serif; }
            /* line 617, ../../../resources/assets/sass/main/_public-layout.scss */
            .container main .content-region .casino-block .casino-block-desc h4 span, .container main .content-region .casino-block-right .casino-block-desc h4 span {
              font-style: italic; }
            /* line 620, ../../../resources/assets/sass/main/_public-layout.scss */
            .container main .content-region .casino-block .casino-block-desc h4::after, .container main .content-region .casino-block-right .casino-block-desc h4::after {
              height: 5px;
              margin-top: 5px;
              display: block;
              width: 100px;
              background: #f4f4f4;
              border-right: 1px white;
              content: ''; }
          /* line 630, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .content-region .casino-block .casino-block-desc p, .container main .content-region .casino-block-right .casino-block-desc p {
            color: #6f717a; }
          /* line 633, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .content-region .casino-block .casino-block-desc a, .container main .content-region .casino-block-right .casino-block-desc a {
            float: right;
            color: #2ac3ff;
            text-decoration: underline;
            margin-bottom: 10px; }
      /* line 642, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .casino-block .ibcbet-block, .container main .content-region .casino-block-right .ibcbet-block {
        background-position: -1330px 0; }
      /* line 645, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .casino-block .asia-block, .container main .content-region .casino-block-right .asia-block {
        background-position: -1080px 0; }
      /* line 648, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .casino-block .sbobet-block, .container main .content-region .casino-block-right .sbobet-block {
        background-position: -270px 0; }
      /* line 651, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .casino-block .ion-block, .container main .content-region .casino-block-right .ion-block {
        background-position: -540px 0; }
      /* line 654, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .casino-block .ib888-block, .container main .content-region .casino-block-right .ib888-block {
        background-position: -810px 0; }
      /* line 657, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .casino-block .klik-block, .container main .content-region .casino-block-right .klik-block {
        background: url("../images/pokersprite.png") no-repeat; }
      /* line 662, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .casino-block figure {
        width: 31.81818%;
        float: left;
        margin-right: 2.27273%;
        display: inline;
        margin-right: 0px !important; }
      /* line 666, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .casino-block .casino-block-desc {
        padding: 30px 20px 0px 0px;
        width: 65.90909%;
        float: right;
        margin-right: 0;
        *margin-left: -1em;
        display: inline;
        right: 0;
        display: block; }
        /* line 671, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .content-region .casino-block .casino-block-desc .collapse {
          padding: 0 20px 0 0px; }
      /* line 676, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .casino-block-right {
        float: right; }
        /* line 678, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .content-region .casino-block-right figure {
          width: 31.81818%;
          float: right;
          margin-right: 0;
          *margin-left: -1em;
          display: inline; }
        /* line 682, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .content-region .casino-block-right .casino-block-desc {
          padding: 30px 0px 0px 20px;
          width: 65.90909%;
          float: left;
          margin-right: 2.27273%;
          display: inline;
          display: block; }
          /* line 686, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .content-region .casino-block-right .casino-block-desc .collapse {
            padding: 0 20px 0 0px;
            background: inherit; }
      /* line 692, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .transaction-region {
        margin-bottom: 100px;
        color: #f4f4f4; }
        /* line 695, ../../../resources/assets/sass/main/_public-layout.scss */
        .container main .content-region .transaction-region .inner-region {
          width: 700px;
          margin: 0 auto; }
          /* line 698, ../../../resources/assets/sass/main/_public-layout.scss */
          .container main .content-region .transaction-region .inner-region form {
            margin-bottom: 25px; }
            /* line 700, ../../../resources/assets/sass/main/_public-layout.scss */
            .container main .content-region .transaction-region .inner-region form .form-input {
              margin: 10px auto; }
              /* line 702, ../../../resources/assets/sass/main/_public-layout.scss */
              .container main .content-region .transaction-region .inner-region form .form-input label, .container main .content-region .transaction-region .inner-region form .form-input input {
                display: block; }
              /* line 705, ../../../resources/assets/sass/main/_public-layout.scss */
              .container main .content-region .transaction-region .inner-region form .form-input label, .container main .content-region .transaction-region .inner-region form .form-input input {
                margin-bottom: 10px; }
              /* line 708, ../../../resources/assets/sass/main/_public-layout.scss */
              .container main .content-region .transaction-region .inner-region form .form-input label, .container main .content-region .transaction-region .inner-region form .form-input .tooltip {
                padding-left: 10px; }
              /* line 712, ../../../resources/assets/sass/main/_public-layout.scss */
              .container main .content-region .transaction-region .inner-region form .form-input select option {
                color: #242529; }
              /* line 716, ../../../resources/assets/sass/main/_public-layout.scss */
              .container main .content-region .transaction-region .inner-region form .form-input .bank-bca, .container main .content-region .transaction-region .inner-region form .form-input .bank-mandiri, .container main .content-region .transaction-region .inner-region form .form-input .bank-bni, .container main .content-region .transaction-region .inner-region form .form-input .bank-bri {
                display: inline-block;
                width: 170px;
                height: 50px; }
                /* line 720, ../../../resources/assets/sass/main/_public-layout.scss */
                .container main .content-region .transaction-region .inner-region form .form-input .bank-bca input[type="radio"], .container main .content-region .transaction-region .inner-region form .form-input .bank-bca label, .container main .content-region .transaction-region .inner-region form .form-input .bank-mandiri input[type="radio"], .container main .content-region .transaction-region .inner-region form .form-input .bank-mandiri label, .container main .content-region .transaction-region .inner-region form .form-input .bank-bni input[type="radio"], .container main .content-region .transaction-region .inner-region form .form-input .bank-bni label, .container main .content-region .transaction-region .inner-region form .form-input .bank-bri input[type="radio"], .container main .content-region .transaction-region .inner-region form .form-input .bank-bri label {
                  display: inline-block; }
              /* line 724, ../../../resources/assets/sass/main/_public-layout.scss */
              .container main .content-region .transaction-region .inner-region form .form-input .bank-withdraw {
                height: 30px;
                display: inline-block;
                width: 170px; }
                /* line 728, ../../../resources/assets/sass/main/_public-layout.scss */
                .container main .content-region .transaction-region .inner-region form .form-input .bank-withdraw input[type="radio"], .container main .content-region .transaction-region .inner-region form .form-input .bank-withdraw label {
                  display: inline-block; }
            /* line 733, ../../../resources/assets/sass/main/_public-layout.scss */
            .container main .content-region .transaction-region .inner-region form .form-submit {
              display: table;
              margin: 0 auto; }
      /* line 740, ../../../resources/assets/sass/main/_public-layout.scss */
      .container main .content-region .authentication {
        width: 60%;
        margin: 50px auto 0 auto;
        border: 2px solid #6f717a;
        padding: 50px 30px;
        min-height: 400px;
        height: auto; }
  /* line 750, ../../../resources/assets/sass/main/_public-layout.scss */
  .container footer {
    background: #f4f4f4;
    text-align: center; }
    /* line 753, ../../../resources/assets/sass/main/_public-layout.scss */
    .container footer .logo-row {
      padding: 50px 0; }
      /* line 755, ../../../resources/assets/sass/main/_public-layout.scss */
      .container footer .logo-row .powered-by {
        margin-bottom: 40px; }
        /* line 757, ../../../resources/assets/sass/main/_public-layout.scss */
        .container footer .logo-row .powered-by ul {
          list-style: none; }
          /* line 759, ../../../resources/assets/sass/main/_public-layout.scss */
          .container footer .logo-row .powered-by ul li {
            display: inline-block;
            margin-right: 15px; }
            /* line 762, ../../../resources/assets/sass/main/_public-layout.scss */
            .container footer .logo-row .powered-by ul li .mandiri, .container footer .logo-row .powered-by ul li .bca, .container footer .logo-row .powered-by ul li .bni, .container footer .logo-row .powered-by ul li .cimb, .container footer .logo-row .powered-by ul li .gamecare, .container footer .logo-row .powered-by ul li .first, .container footer .logo-row .powered-by ul li .bii, .container footer .logo-row .powered-by ul li .bri {
              font: 0/0 a;
              text-shadow: none;
              color: transparent;
              display: block;
              height: 32px;
              background: url("../images/partnersprite.png") no-repeat; }
            /* line 768, ../../../resources/assets/sass/main/_public-layout.scss */
            .container footer .logo-row .powered-by ul li .mandiri {
              width: 108px;
              background-position: 0px 0px; }
            /* line 772, ../../../resources/assets/sass/main/_public-layout.scss */
            .container footer .logo-row .powered-by ul li .bca {
              width: 95px;
              background-position: -108px 0px; }
            /* line 776, ../../../resources/assets/sass/main/_public-layout.scss */
            .container footer .logo-row .powered-by ul li .bni {
              width: 107px;
              background-position: -204px 0px; }
            /* line 780, ../../../resources/assets/sass/main/_public-layout.scss */
            .container footer .logo-row .powered-by ul li .first {
              width: 90px;
              background-position: -643px 0px; }
            /* line 784, ../../../resources/assets/sass/main/_public-layout.scss */
            .container footer .logo-row .powered-by ul li .bri {
              width: 129px;
              background: url("../images/bribank.png") no-repeat; }
      /* line 792, ../../../resources/assets/sass/main/_public-layout.scss */
      .container footer .logo-row .social-media ul {
        list-style: none; }
        /* line 794, ../../../resources/assets/sass/main/_public-layout.scss */
        .container footer .logo-row .social-media ul li {
          display: inline-block; }
          /* line 796, ../../../resources/assets/sass/main/_public-layout.scss */
          .container footer .logo-row .social-media ul li .facebook, .container footer .logo-row .social-media ul li .twitter {
            font: 0/0 a;
            text-shadow: none;
            color: transparent;
            display: block;
            height: 32px;
            width: 32px;
            background: url("../images/socialsprite.png") no-repeat; }
          /* line 803, ../../../resources/assets/sass/main/_public-layout.scss */
          .container footer .logo-row .social-media ul li .facebook {
            background-position: 0px 0px; }
          /* line 806, ../../../resources/assets/sass/main/_public-layout.scss */
          .container footer .logo-row .social-media ul li .twitter {
            background-position: -32px 0px; }
    /* line 813, ../../../resources/assets/sass/main/_public-layout.scss */
    .container footer .copyright {
      height: 45px;
      padding: 15px 0;
      background: #030303;
      text-align: center;
      font-size: 0.875em;
      color: #f4f4f4; }

/* Site Main Theme */
/* Site Responsive Main Theme */
@media (max-width: 48em) {
  /* line 3, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
  .container .sidebar {
    display: none; }
  /* line 8, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
  .container header .inner-content .logo-block {
    width: 100%; }
    /* line 10, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container header .inner-content .logo-block .show-image {
      margin: 0 auto; }
  /* line 14, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
  .container header .inner-content .login-block {
    display: none; }
  /* line 19, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
  .container header .news-bar .first {
    padding: 8px 10px; }
  /* line 23, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
  .container header nav {
    height: auto;
    border-bottom: 0; }
    /* line 28, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container header nav .main-nav .inner-main-nav {
      display: none;
      height: auto; }
      /* line 31, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container header nav .main-nav .inner-main-nav li:nth-child(n+8) {
        display: block; }
    /* line 36, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container header nav .main-nav li {
      width: 100%;
      float: left;
      position: relative; }
      /* line 40, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container header nav .main-nav li:hover {
        color: #f4f4f4;
        background: transparent; }
    /* line 46, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container header nav .main-nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px; }
    /* line 52, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container header nav .main-nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px; }
    /* line 65, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container header nav .main-nav a#openup {
      display: block;
      background-color: #2ac3ff;
      width: 100%;
      position: relative;
      padding-top: 10px;
      height: 40px; }
    /* line 74, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container header nav .sub-nav {
      display: none; } }
@media (max-width: 48em) {
  /* line 80, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
  .container main {
    /* End of How To join*/
    /* End of How To join*/ }
    /* line 82, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container main .block-title {
      margin-bottom: 10px;
      text-align: center; }
    /* line 86, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container main .how-to-join {
      height: auto; }
      /* line 88, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container main .how-to-join img {
        margin: 0 auto;
        padding: 15px 0;
        height: auto;
        width: 90%; }
    /* line 95, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container main .register-now {
      display: block;
      background: #18191d;
      height: auto;
      text-align: center;
      padding: 10px 0; }
      /* line 101, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container main .register-now .register-btn {
        background: #f23846;
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: bold;
        height: 30px;
        width: 80%;
        display: block;
        padding: 5px;
        margin: 0 auto;
        border-radius: 5px; }
    /* line 114, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container main .products-region, .container main .about-region, .container main .bank-schedule {
      height: auto;
      padding: 20px 0px; }
    /* line 120, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container main .products-region .inner-content .product-block {
      list-style: none;
      padding: 10px 10px 0 10px; }
      /* line 123, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container main .products-region .inner-content .product-block .product-lists {
        display: block;
        height: auto;
        box-shadow: none; }
        /* line 128, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
        .container main .products-region .inner-content .product-block .product-lists a img {
          height: 100%;
          width: 100%; }
    /* line 139, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container main .about-region .inner-content .about-block {
      width: 100%;
      display: block; }
    /* line 143, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container main .about-region .inner-content .terms-block {
      display: block;
      width: 100%;
      margin-top: 15px; }
      /* line 147, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container main .about-region .inner-content .terms-block ul {
        list-style: square;
        padding: 0 10px; }
        /* line 150, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
        .container main .about-region .inner-content .terms-block ul li {
          margin-bottom: 5px; }
    /* line 159, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container main .bank-schedule .inner-content .mandiri-bank-logo, .container main .bank-schedule .inner-content .bca-bank-logo, .container main .bank-schedule .inner-content .bni-bank-logo, .container main .bank-schedule .inner-content .bri-bank-logo {
      height: 166px;
      width: 100%;
      background: url("../images/banksprite2.png") no-repeat;
      position: relative;
      margin-bottom: 20px; }
      /* line 165, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container main .bank-schedule .inner-content .mandiri-bank-logo .bank-status, .container main .bank-schedule .inner-content .bca-bank-logo .bank-status, .container main .bank-schedule .inner-content .bni-bank-logo .bank-status, .container main .bank-schedule .inner-content .bri-bank-logo .bank-status {
        position: absolute;
        bottom: -20px;
        left: 30px; }
        /* line 169, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
        .container main .bank-schedule .inner-content .mandiri-bank-logo .bank-status div, .container main .bank-schedule .inner-content .bca-bank-logo .bank-status div, .container main .bank-schedule .inner-content .bni-bank-logo .bank-status div, .container main .bank-schedule .inner-content .bri-bank-logo .bank-status div {
          float: left;
          margin-left: 8px; }
    /* line 175, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container main .bank-schedule .inner-content .bank {
      float: none;
      display: block;
      margin: 0 auto 20px auto;
      width: 275px; }
      /* line 180, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container main .bank-schedule .inner-content .bank:last-child {
        float: none;
        display: block;
        margin-right: inherit; }
    /* line 187, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container main .bank-schedule .inner-content .mandiri-bank .mandiri-bank-logo {
      background-position: 7px 0px; }
    /* line 192, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container main .bank-schedule .inner-content .bca-bank .bca-bank-logo {
      background-position: -268px 0px; }
    /* line 197, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container main .bank-schedule .inner-content .bni-bank .bni-bank-logo {
      background-position: -538px 0px; }
    /* line 202, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container main .bank-schedule .inner-content .bri-bank .bri-bank-logo {
      background-position: -812px 0px; }
    /* line 206, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container main .bank-schedule .inner-content .bank-schedules {
      padding: 0px 10px;
      color: #f4f4f4;
      font-size: 0.813em; }
      /* line 213, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container main .bank-schedule .inner-content .bank-schedules table tbody tr td {
        padding: 5px; }
    /* line 222, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container main .subpage-titles {
      background: url("../images/subpagetitlebg.jpg") no-repeat;
      height: 80px;
      padding: 25px 0;
      background-size: cover;
      margin-bottom: 30px;
      text-align: center; }
    /* line 230, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
    .container main .content-region {
      	/* --------------------------------------
       	Casino Page 
      	--------------------------------------*/ }
      /* line 231, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container main .content-region .inner-left-region, .container main .content-region .inner-left-region-sm {
        float: none; }
        /* line 234, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
        .container main .content-region .inner-left-region .social-center .social-content, .container main .content-region .inner-left-region-sm .social-center .social-content {
          height: 75%; }
          /* line 236, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
          .container main .content-region .inner-left-region .social-center .social-content img, .container main .content-region .inner-left-region-sm .social-center .social-content img {
            display: block;
            margin: 0 auto;
            padding: 20px 0 10px 0; }
        /* line 242, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
        .container main .content-region .inner-left-region .social-center .social-id, .container main .content-region .inner-left-region-sm .social-center .social-id {
          height: 25%;
          padding: 18px 0; }
          /* line 245, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
          .container main .content-region .inner-left-region .social-center .social-id b, .container main .content-region .inner-left-region-sm .social-center .social-id b {
            font-family: Latobold, sans-serif;
            font-size: 18px;
            text-transform: uppercase; }
      /* line 253, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container main .content-region .inner-right-region-lg {
        float: none;
        width: 100%; }
      /* line 260, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container main .content-region .casino-block, .container main .content-region .casino-block-right {
        width: 100%;
        margin-bottom: 20px; }
        /* line 263, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
        .container main .content-region .casino-block figure, .container main .content-region .casino-block-right figure {
          display: none; }
        /* line 266, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
        .container main .content-region .casino-block .casino-block-desc, .container main .content-region .casino-block-right .casino-block-desc {
          width: 100%;
          display: block; }
          /* line 269, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
          .container main .content-region .casino-block .casino-block-desc h3, .container main .content-region .casino-block-right .casino-block-desc h3 {
            color: #2ac3ff;
            margin-bottom: 10px; }
      /* line 276, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container main .content-region .casino-block figure {
        display: none; }
      /* line 279, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container main .content-region .casino-block .casino-block-desc {
        padding: 30px 20px 0px 20px;
        width: 100%; }
        /* line 282, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
        .container main .content-region .casino-block .casino-block-desc .collapse {
          padding: 0 20px 0 0px; }
      /* line 287, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container main .content-region .casino-block-right {
        margin-right: 0;
        margin-bottom: 20px; }
        /* line 290, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
        .container main .content-region .casino-block-right .casino-block-desc {
          padding: 30px 20px 0px 20px;
          width: 100%; }
      /* line 295, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container main .content-region .authentication {
        width: 90%;
        margin: 50px auto 0 auto;
        border: 2px solid #6f717a;
        padding: 50px 10px;
        min-height: 400px;
        height: auto; }
      /* line 303, ../../../resources/assets/sass/main/_responsive-mobile-layout.scss */
      .container main .content-region .inner-right-region {
        float: none;
        margin-bottom: 10px; } }

/* Site Responsive Main Theme */
